{% import '@bolt/_macro/_macro.twig' as macro %}

{% set modifiable = true %}
{% set permissions = { 'publish': true, 'depublish': true, 'create': true, 'delete': true } %}

<div class="btn-group">
    <a href="{{ path('bolt_edit_record', {'id': record.id}) }}" class="btn btn-secondary">
        <i class="fas fa-edit"></i> {{ __('edit') }}
    </a>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
  <div class="dropdown-menu dropdown-menu-right">

    {% if record.status == "published" and record.link is not empty %}
            <a class="dropdown-item" href="{{ record.link }}" target="_blank">
                <i class="fas fa-external-link-square-alt"></i> {{ __('general.view-on-site') }}
            </a>
    {% endif %}

    {% if modifiable %}
        {% if record.status != 'published' %}
            {% if permissions.publish %}
                {{ macro.actionform(record, 'publish', 'fa-circle status-published', __('contenttypes.generic.publish',{'%contenttype%':record.definition.singular_name})) }}
            {% endif %}
        {% else %}
            {% if permissions.depublish %}
                {{ macro.actionform(record, 'held', 'fa-circle status-held', __('general.status-change-held')) }}
            {% endif %}
        {% endif %}
        {% if permissions.create %}
                <a class="dropdown-item" href="{{ path('bolt_edit_record', {'id': record.id, 'duplicate': 1}) }}">
                    <i class="fas fa-copy"></i> {{ __('contenttypes.generic.duplicate', {'%contenttype%': record.definition.singular_name}) }}
                </a>
        {% endif %}
        {% if permissions.delete %}
                {{ macro.actionform(record, 'delete',
                'fa-trash',
                __('contenttypes.generic.delete', {'%contenttype%': record.definition.singular_name}),
                "Are you sure you want to delete '" ~ record.title ~ "'?" ) }}
        {% endif %}
        <div class="dropdown-divider"></div>
    {% endif %}

    <span class="dropdown-item">
        {{ __('general.author') }}:  <strong><i class="fas fa-user"></i>
            {% set owner = record.author %}
            {% if owner %}
            {{ owner[:15] }}
            {% else %}
            <s>user {{ record.ownerid }}</s>
                {% endif %}
        </strong>
    </span>

        <span class="dropdown-item">{{ __('general.status-current') }}:
            <strong> {{ record.status }}</strong></span>
        <span class="dropdown-item">{{ __('general.slug') }}:
            <code title="{{ record.slug }}">{{ record.slug|excerpt(24) }}</code>
        </span>
        <span class="dropdown-item">{{ __('general.created-on') }}:
            <i class="fas fa-asterisk"></i> {{ record.datecreated|date("Y-m-d H:i") }}
        </span>
        <span class="dropdown-item">{{ __('general.published-on') }}:
            <i class="fas fa-calendar"></i> {{ record.datepublish|date("Y-m-d H:i") }}
        </span>
        <span class="dropdown-item">{{ __('general.last-edited-on') }}:
            <i class="fas fa-sync-alt"></i> {{ record.datechanged|date("Y-m-d H:i") }}
        </span>

{# --
    {% set taxonomytypes = record.taxonomy.grouped|default %}
    {% for type, taxonomies in taxonomytypes %}
        {% if taxonomies|length > 1 %}
            {% set taxlist = [] %}
            {% for taxonomy in taxonomies %}
                {% set taxlist = taxlist|merge([taxonomy.name]) %}
            {% endfor %}
            <div class="item">
                <span class="dropdown-item">{{ app.config.get('taxonomy')[type].name }}:
                    <i class="fas fa-tag"></i> {{ taxlist|join(", ")[:24] }}
                </span>
            </div>
        {% else %}
            <div class="item">
                {% set taxonomy = taxonomies|first %}
                <span class="dropdown-item">{{ app.config.get('taxonomy')[type].singular_name }}:
                    <i class="fas fa-tag"></i> {{ taxonomy.name[:24] }}
                </span>
            </div>
        {% endif %}
    {% endfor %}
-- #}

  </div>
</div>

