<tr class="top aligned">
    <td class="listing-excerpt">
        <div class="clip-overflow">{{ record.excerpt(400, true) }}</div>
    </td>
    <td class="listing-meta">
        {% set icon = record.definition.icon_one|default('fa-adjust') %}
        <i class="fas {{ icon|replace({':': '-' }) }} fa-fw"></i>

        {% if not app.request.get('contenttype')|default() %}
        <a href="{{ path('bolt_contentlisting', {'contenttype': record.definition.slug }) }}">
            {{ record.definition.name }}
        </a>
        {% else %}
            {{ record.definition.name }}
        {% endif %}
        {% if not record.definition.singleton %}№ {{ record.id }}{% endif %}
        <br>
        <i class="fas fa-user fa-fw"></i>
        {{ record.author }}
        <br>
        <i class="fas fa-circle status-{{ record.status }} fa-fw"></i> {{ record.publishedAt|localizeddate('medium', 'none', null, 'UTC') }}<br>
        {#<i class="fa fa-align-left fa-fw"></i>#}
        {#<a href="{{ path('bolt_edit_record', {'id': record.id}) }}#taxonomy">#}
        {#Volgorde: 81#}
        {#</a>#}
    </td>
    <td class="listing-thumb">
        <img src="{{ record.image|thumbnail(100, 72) }}">
    </td>
    <td class="listing-actions">
        {% include '@bolt/_partials/_content_actions.twig' %}

    </td>

</tr>
