{% extends '@bolt/_base/layout.twig' %}

{% set alltypes = ['select'] %}
{% for key, fielddefinition in record.definition.fields %}
    {% set alltypes = alltypes|merge([fielddefinition.type]) %}
{% endfor %}

{% block title %}
    {{ icon(record) }} {{ 'caption.edit'|trans }} {{ record.definition.singular_name }} » <strong>{{ record.title|excerpt(50)|default('New') }}</strong>
{% endblock %}

{% block main %}
<form method="post" id="editcontent" >

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('editrecord') }}">

<!-- fields -->
{% set groups = record.definition.groups %}
<nav>
  <ul class="nav editor__tabbar" role="tablist">
      {% for group in groups %}
          <li class="nav-item">
              <a
                class="nav-item nav-link {% if loop.first %}active{% endif %}"
                id="{{group|slug}}-tab-link"
                data-toggle="pill"
                href="#{{group|slug}}-tab"
                role="tab"
                aria-controls="{{group|slug}}"
                aria-selected="false"
              >
              <span>{{group|capitalize}}</span></a>
          </li>
      {% endfor %}
  </ul>
</nav>
<div class="tab-content" id="nav-tabContent">
  {% for group in groups %}
    <div class="tab-pane {% if loop.first %}show active{% endif %}" id="{{group|slug}}-tab" role="tabpanel" aria-labelledby="{{group|slug}}-tab-link">
      {% for key, fielddefinition in record.definition.fields %}

        {% set type         = fielddefinition.type %}
        {# {% set variant      = fielddefinition.variant %}
        {% set mode         = fielddefinition.mode|default(null) %} #}
        {% set field        = record.field(key) %}
        {% set fieldgroup   = fielddefinition.group %}

        {% if not field %}
            {% set field = fieldfactory(key, fielddefinition) %}
        {% endif %}
        {% if fieldgroup == group %}
          {% include ['editcontent/fields/' ~ type ~ '.twig', 'editcontent/fields/generic.twig' ] with { 'field': field, 'define': fielddefinition} %}
        {% endif %}
        
      {% endfor %}
    </div>
  {% endfor %}
</div>

<button type="submit" class="btn btn-success mb-3">
    <i class="fas fa-save mr-2"></i> {{ 'action.save'|trans }}
</button>


</form>

{% endblock %}

{% block aside %}

<div id="metadata" class="card">
    <div class="card-header">
        Meta information
    </div>
    <div class="card-body">
        <form class="ui form">

            <button type="submit" class="btn btn-success mb-3" form="editcontent">
                <i class="fas fa-save mr-2"></i> {{ 'action.save'|trans }}
            </button>

            {% include '@bolt/editcontent/fields/select.twig' with {
                'label': 'field.status'|trans,
                'name': 'status',
                'value': record.status,
                'options': record.statusoptions,
                'form': 'editcontent'
            } %}

            {#<input type="text" name="author" value="{{ record.author }}">#}

            {% include '@bolt/editcontent/fields/date.twig' with {
                'label': 'field.createdAt'|trans,
                'name': 'createdAt',
                'value': record.createdAt,
                'disabled': true,
                'mode': 'datetime',
                'form': 'editcontent'
            } %}

            {% include '@bolt/editcontent/fields/date.twig' with {
                'label': 'field.modifiedAt'|trans,
                'name': 'modifiedAt',
                'value': record.modifiedAt,
                'disabled': true,
                'mode': 'datetime',
                'form': 'editcontent'
            } %}

            {% include '@bolt/editcontent/fields/date.twig' with {
                'label': 'field.publishedAt'|trans,
                'name': 'publishedAt',
                'value': record.publishedAt,
                'mode': 'datetime',
                'form': 'editcontent'
            } %}

            {% include '@bolt/editcontent/fields/date.twig' with {
                'label': 'field.depublishedAt'|trans,
                'name': 'depublishedAt',
                'mode': 'datetime',
                'form': 'editcontent'
            } %}


            {% include '@bolt/editcontent/fields/text.twig' with {
                'label': 'field.id'|trans,
                'name': 'id',
                'value': record.id,
                'attributes': 'readonly form="editcontent"',
            } %}

        </form>

    </div>
</div>

{% endblock aside %}