{% extends '@bolt/_base/layout.twig' %}

{% set alltypes = [] %}
{% for key, fielddefinition in record.definition.fields %}
    {% set alltypes = alltypes|merge([fielddefinition.type]) %}
{% endfor %}

{% block title %}
    Edit » <strong>{{ record.title|default('New') }}</strong>
{% endblock %}

{% block main %}

    {#{{ dump(record.definition.fields) }}#}

<form method="post" class="ui form" id="editcontent">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('editrecord') }}">

<!-- fields -->
{% for key, fielddefinition in record.definition.fields %}

    {% set type = fielddefinition.type %}
    {% set field = record.field(key) %}
    {% if not field %}
        {% set field = fieldfactory(fielddefinition, key) %}
    {% endif %}

    {% include ['editcontent/fields/' ~ type ~ '.twig', 'editcontent/fields/generic.twig' ] with { 'field': field} %}

{% endfor %}

    {{ dump(alltypes|unique) }}

    <input type="submit" class="ui button primary" value="Save">

</form>

{% endblock %}

{% block aside %}

<div class="ui card">
    <div class="content">
        <div class="header">Meta information</div>
    </div>
    <div class="content">

        <form class="ui form">

            <input type="submit" class="ui button primary" value="Save" form="editcontent">

    {% include '@bolt/editcontent/fields/text.twig' with {
        'label': 'field.id'|trans,
        'name': 'id',
        'value': record.id,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include '@bolt/editcontent/fields/select.twig' with {
        'label': 'field.status'|trans,
        'name': 'status',
        'value': record.status,
        'options': record.statusoptions,
        'attributes': 'form="editcontent"',
    } %}

    {#<input type="text" name="author" value="{{ record.author }}">#}

    {% include '@bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.createdAt'|trans,
        'name': 'createdAt',
        'value': record.createdAt,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include '@bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.modifiedAt'|trans,
        'name': 'modifiedAt',
        'value': record.modifiedAt,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include '@bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.publishedAt'|trans,
        'name': 'publishedAt',
        'value': record.publishedAt,
        'attributes': 'form="editcontent"',
    } %}

    {% include '@bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.depublishedAt'|trans,
        'name': 'depublishedAt',
        'value': record.depublishedAt,
        'attributes': 'form="editcontent"',
    } %}
        </form>

    </div>
</div>

{% endblock aside %}

{% block javascripts %}
{{ parent( )}}
    <!-- Javascript for fields -->
{% for type in alltypes|unique %}
{% include 'editcontent/javascripts/' ~ type ~ '_include.twig' ignore missing %}
{% endfor %}
{% for key, fielddefinition in record.definition.fields %}
{% spaceless %}
    {% set type = fielddefinition.type %}
    {% set field = record.field(key) %}
    {% if not field %}
        {% set field = fieldfactory(fielddefinition, key) %}
    {% endif %}
{% endspaceless %}
{% include 'editcontent/javascripts/' ~ type ~ '.twig' ignore missing with { 'field': field} %}
{% endfor %}

{# For the status selection #}
    {% include '@bolt/editcontent/javascripts/select.twig' with {
        'name': 'status',
    } %}
{% endblock javascripts %}


{% block stylesheets %}
{{ parent( )}}
    <!-- Stylesheets for fields -->
{% for type in alltypes|unique %}
{% include 'editcontent/stylesheets/' ~ type ~ '_include.twig' ignore missing %}
{% endfor %}
{% for key, fielddefinition in record.definition.fields %}
{% spaceless %}
    {% set type = fielddefinition.type %}
    {% set field = record.field(key) %}
    {% if not field %}
        {% set field = fieldfactory(fielddefinition, key) %}
    {% endif %}
{% endspaceless %}
{% include 'editcontent/stylesheets/' ~ type ~ '.twig' ignore missing with { 'field': field} %}
{% endfor %}

{% endblock stylesheets %}