{% extends '_base/layout.twig' %}

{% block title %}
    Edit » <strong>{{ media.title|default('New')|excerpt(30) }}</strong>
{% endblock %}

{% block main %}

    <h2>Filename » <strong>{{ media.area }}://{% if media.path %}{{ media.path }}/{% endif %}{{ media.filename }}</strong></h2>

    <div class="imageholder">
        {% set thumbnail = thumbnail(image = media.filename, width = 900, height = 500, area = media.area, path = media.path) %}
        <img src="{{ thumbnail }}">
    </div>

    <br>


<form method="post" class="ui form" id="media_edit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('media_edit') }}">

    {% include 'editcontent/fields/text.twig' with {
        'label': 'field.title'|trans,
        'name': 'title',
        'value': media.title
    }  %}

    {% include 'editcontent/fields/textarea.twig' with {
        'label': 'field.description'|trans,
        'name': 'description',
        'value': media.description
    }  %}

    {% include 'editcontent/fields/text.twig' with {
        'label': 'field.copyright'|trans,
        'name': 'copyright',
        'value': media.copyright
    }  %}

    {% include 'editcontent/fields/text.twig' with {
        'label': 'field.originalFilename'|trans,
        'name': 'originalFilename',
        'value': media.originalFilename
    }  %}


    <input type="submit" class="ui button primary" value="Save">

    {{ dump(media) }}


</form>


{% endblock %}

{% block aside %}

<div class="ui card">
    <div class="content">
        <div class="header">Meta information</div>
    </div>
    <div class="content">

        <form class="ui form">

            <input type="submit" class="ui button primary" value="Save" form="editcontent">

            {% include 'editcontent/fields/text.twig' with {
                'label': 'field.id'|trans,
                'name': 'id',
                'value': media.id,
                'attributes': 'readonly form="editcontent"',
            }  %}

            {% include 'editcontent/fields/text.twig' with {
                'label': 'field.width'|trans,
                'name': 'width',
                'value': media.width,
                'attributes': 'readonly form="editcontent"',
            }  %}

            {% include 'editcontent/fields/text.twig' with {
                'label': 'field.height'|trans,
                'name': 'height',
                'value': media.height,
                'attributes': 'readonly form="editcontent"',
            }  %}

            {% include 'editcontent/fields/text.twig' with {
                'label': 'field.filesize'|trans,
                'name': 'filesize',
                'value': media.filesize,
                'attributes': 'readonly form="editcontent"',
            }  %}


            {#<input type="text" name="author" value="{{ media.author }}">#}



    {% include 'editcontent/fields/datetime.twig' with {
        'label': 'field.createdAt'|trans,
        'name': 'createdAt',
        'value': media.createdAt,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include 'editcontent/fields/datetime.twig' with {
        'label': 'field.modifiedAt'|trans,
        'name': 'modifiedAt',
        'value': media.modifiedAt,
        'attributes': 'readonly form="editcontent"',
    } %}

        </form>

    </div>
</div>


{% endblock aside %}
