{% extends '@bolt/_base/layout.twig' %}

{% block title %}
    Edit » <strong>{{ media.title|default('New')|excerpt(30) }}</strong>
{% endblock %}

{% block main %}

    <h2>Filename » <strong>{{ media.area }}://{% if media.path %}{{ media.path }}/{% endif %}{{ media.filename }}</strong></h2>

    <div class="imageholder">
        {% set thumbnail = thumbnail(image = media.filename, width = 900, height = 500, area = media.area, path = media.path) %}
        <img id="main_image" src="{{ thumbnail }}">
    </div>

    <div class="field" style="margin: 0.5rem 0;">
        <button class="ui button tiny color-Vibrant" style="text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); color: #FFF;">
            Vibrant <small>(<span></span>)</small>
        </button>
        &nbsp;
        <button class="ui button tiny color-Muted" style="text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);">
            Muted <small>(<span></span>)</small>
        </button>
        &nbsp;
        <button class="ui button tiny color-DarkVibrant" style="text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); color: #FFF;">
            DarkVibrant <small>(<span></span>)</small>
        </button>
        &nbsp;
        <button class="ui button tiny color-DarkMuted" style="text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); color: #FFF;">
            DarkMuted <small>(<span></span>)</small>
        </button>
        &nbsp;
        <button class="ui button tiny color-LightVibrant" style="text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);">
            LightVibrant <small>(<span></span>)</small>
        </button>
    </div>

    <script>
        console.log('joe');
        var img = document.createElement('img');
        img.setAttribute('src', '{{ thumbnail|raw }}');

        img.addEventListener('load', function() {
            var vibrant = new Vibrant(img);
            var swatches = vibrant.swatches();
            console.log(swatches);
            for (var swatch in swatches) {
                if (swatches.hasOwnProperty(swatch) && swatches[swatch]) {
                    console.log(swatch, swatches[swatch].getHex());
                    $('.button.color-' + swatch).css('background', swatches[swatch].getHex());
                    $('.button.color-' + swatch).find('span').text(swatches[swatch].getHex());
                }
            }
        });
        console.log('joe2');

            /*
             * Results into:
             * Vibrant #7a4426
             * Muted #7b9eae
             * DarkVibrant #348945
             * DarkMuted #141414
             * LightVibrant #f3ccb4
             */


    </script>

    <br>


<form method="post" class="ui form" id="media_edit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('media_edit') }}">

    {% include '@bolt/editcontent/fields/text.twig' with {
        'label': 'field.title'|trans,
        'name': 'title',
        'value': media.title
    }  %}

    {% include '@bolt/editcontent/fields/textarea.twig' with {
        'label': 'field.description'|trans,
        'name': 'description',
        'value': media.description
    }  %}

    {% include '@bolt/editcontent/fields/text.twig' with {
        'label': 'field.copyright'|trans,
        'name': 'copyright',
        'value': media.copyright
    }  %}

    {% include '@bolt/editcontent/fields/text.twig' with {
        'label': 'field.originalFilename'|trans,
        'name': 'originalFilename',
        'value': media.originalFilename
    }  %}


    <input type="submit" class="ui button primary" value="Save">

    {{ dump(media) }}


</form>


{% endblock %}

{% block aside %}

<div class="ui card">
    <div class="content">
        <div class="header">Meta information</div>
    </div>
    <div class="content">

        <form class="ui form">

            <input type="submit" class="ui button primary" value="Save" form="editcontent">

            {% include '@bolt/editcontent/fields/text.twig' with {
                'label': 'field.id'|trans,
                'name': 'id',
                'value': media.id,
                'attributes': 'readonly form="editcontent"',
            }  %}

            {% include '@bolt/editcontent/fields/text.twig' with {
                'label': 'field.width'|trans,
                'name': 'width',
                'value': media.width,
                'attributes': 'readonly form="editcontent"',
            }  %}

            {% include '@bolt/editcontent/fields/text.twig' with {
                'label': 'field.height'|trans,
                'name': 'height',
                'value': media.height,
                'attributes': 'readonly form="editcontent"',
            }  %}

            {% include '@bolt/editcontent/fields/text.twig' with {
                'label': 'field.filesize'|trans,
                'name': 'filesize',
                'value': media.filesize,
                'attributes': 'readonly form="editcontent"',
            }  %}


            {#<input type="text" name="author" value="{{ media.author }}">#}



    {% include '@bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.createdAt'|trans,
        'name': 'createdAt',
        'value': media.createdAt,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include '@bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.modifiedAt'|trans,
        'name': 'modifiedAt',
        'value': media.modifiedAt,
        'attributes': 'readonly form="editcontent"',
    } %}

        </form>

    </div>
</div>


{% endblock aside %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vibrant.js/1.0.0/Vibrant.min.js"></script>

{% endblock javascripts %}