{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record|default %}

        <h1><a href="{{ record|link }}">{{ record|title|rot13 }}</a></h1>

        {# Remove this block if you don't need it anymore. #}
        {{ include('partials/_fresh_install.twig') }}

        {{ record|excerpt }}

        <section class="imageholder">
            {{ popup(record|image, 1200, 500) }}
            <small>{{ record|image.title|default(record|image.title)|default('title-less image') }}</small>
        </section>

        {{ record.content }}

        {{ include('partials/_recordfooter.twig', { 'record': record }) }}

    {% endif %}

{% endblock main %}
