{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record|default %}

        <h1><a href="{{ record|link }}">{{ record|title }}</a></h1>

        {# Remove this block if you don't need it anymore. #}
        {{ include('partials/_fresh_install.twig') }}

        {{ record|excerpt }}

        {% include 'partials/_image.twig' with ({'image': record|image}) %}

        {{ record.content }}

        {{ include('partials/_recordfooter.twig', { 'record': record }) }}

    {% endif %}

{% endblock main %}
