{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record.title %}
        <h1 class="title">{{ record.title }}</h1>
    {% else %}
        <h1 class="heading">{{ record|title }}</h1>
    {% endif %}

    {% if record|image %}
        {{ popup(record|image, 1024, 768) }}
        {{ dump(record|image) }}
    {% endif %}

    {# Output all fields, in the order as defined in the content type.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}
    {% with { 'record': record, 'exclude': [record|image.fieldname|default()] } %}
        {{ block('sub_fields', 'partials/_sub_fields.twig') }}
    {% endwith %}

    {# Comment this if you don't wish to dump the entire record to the client, for debugging purposes. #}
    {{ dump(record) }}


    {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

{% endblock main %}
