{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record.title %}
        <h1 class="title">{{ record.title }}</h1>
    {% else %}
        <h1 class="heading">{{ record|title }}</h1>
    {% endif %}

    {% include 'partials/_image.twig' with ({'image': record|image}) %}

{#    {{ record|allow_twig }}#}

    {{ dump(record|title) }}

    {# Output all fields, in the order as defined in the content type.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}
    {% with { 'record': record, 'exclude': [record|image.fieldname|default()] } %}
        {{ block('sub_fields', 'helpers/_fields.twig') }}
    {% endwith %}

    {# Comment this if you don't wish to dump the entire record to the client, for debugging purposes. #}
    {{ dump(record) }}


    {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

{% endblock main %}
