{% extends '@bolt/_base/layout_blank.html.twig' %}

{% block title %}
    {{ 'title.login'|trans }}
{% endblock %}

{% block html_id %}{% endblock %}

{% block html_class %}{% endblock %}

{% block body_class %}page--login{% if not config.get('general/omit_backgrounds') %} with-background{% endif %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div>

        {% form_theme loginForm 'bootstrap_4_layout.html.twig' %}

        <div class="login__logo">
            <img class="logo" alt="Bolt CMS logo"
                {% if not config.get('general/omit_backgrounds') %}
                 src="{{ asset('assets/images/bolt_logo_loginpage--bg.svg', 'public') }}">
                {% else %}
                 src="{{ asset('assets/images/bolt_logo_loginpage.svg', 'public') }}">
                 {% endif %}
            <h1>{{ config.get('general/sitename') }}</h1>
        </div>

        <div class="card login__login-form">

            <div class="card-header">
                <i class="fa fa-lock" aria-hidden="true"></i>
                {{ 'login.header_login'|trans }}
            </div>

            <div class="card-body">

                {% if error %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-circle"></i>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(loginForm, {'attr': {'id': 'login-form'}}) }}
                    {{ form_row(loginForm.username) }}
                    {{ form_row(loginForm.password) }}
                    {{ form_row(loginForm.remember_me) }}
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                        {{- 'action.log_in'|trans -}}
                    </button>
                {{ form_end(loginForm) }}

            </div>

        </div>

    </div>
{% endblock %}


