{% extends '@bolt/_base/layout_blank.twig' %}

{% block title %}
    {{ 'title.login'|trans }}
{% endblock %}

{% block body_id 'login' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        html {
            background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4) ), url(https://source.unsplash.com/daily);
            background-position: center;
            background-size: cover;
        }

        body {
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 22rem;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
<div class="card">

    <div class="card-header">

        <i class="fa fa-lock" aria-hidden="true"></i>
        Bolt &raquo; Login
    </div>

    <div class="card-body">

        {% if error %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('bolt_login') }}" method="post" class="">
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="form-group">
                <label for="username">{{ 'label.username_or_email'|trans }}</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i> </span>
                    </div>
                    <input type="text" placeholder="{{ 'label.username'|trans }}" id="username" name="username" value="{{ last_username }}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password">{{ 'label.password'|trans }}</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" placeholder="{{ 'label.password'|trans }}" id="password" name="password" class="form-control"/>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="_remember_me" id="_remember_me">
                <label class="form-check-label" for="_remember_me">{{ 'label.rememberme'|trans }}</label>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                {{ 'action.log_in'|trans }}
            </button>
        </div>
    </form>
</div>

{% endblock %}


