{% extends '@bolt/_base/layout_blank.html.twig' %}

{% block title %}
    {{ 'title.login'|trans }}
{% endblock %}

{% block html_id %}{% endblock %}

{% block html_class %}{% endblock %}

{% block body_class %}page--login{% if not config.get('general/omit_backgrounds') %} with-background{% endif %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div>

        <div class="login__logo">
            <img class="logo" alt="Bolt CMS logo"
                {% if not config.get('general/omit_backgrounds') %}
                 src="{{ asset('assets/images/bolt_logo_loginpage--bg.svg', 'bolt') }}">
                {% else %}
                 src="{{ asset('assets/images/bolt_logo_loginpage.svg', 'bolt') }}">
                 {% endif %}
            <h1>{{ config.get('general/sitename') }}</h1>
        </div>

        <div class="card login__login-form">

            <div class="card-header">
                <i class="fa fa-lock" aria-hidden="true"></i>
                {{ 'login.header_login'|trans }}
            </div>

            <div class="card-body">

                {% if error %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-circle"></i>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ path('bolt_login') }}" method="post" class="" id="login-form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    {% include '@bolt/_partials/fields/text.html.twig' with {
                        'label' : 'label.username_or_email'|trans,
                        'name' : 'username',
                        'value' : last_username,
                        'disabled' : false,
                        'placeholder': 'placeholder.username_or_email'|trans,
                        'autofocus': true,
                    } %}
                    {% include '@bolt/_partials/fields/password.html.twig' with {
                        'label': 'label.password'|trans,
                        'label_class': 'required',
                        'name': 'password',
                        'value': '',
                        'hidden': 'true',
                        'strength': false,
                        'placeholder': 'placeholder.password'|trans,
                    } %}
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="_remember_me" id="_remember_me">
                        <label class="form-check-label" for="_remember_me">{{ 'label.rememberme'|trans }}</label>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                        {{ 'action.log_in'|trans }}
                    </button>
                    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary">
                      <i class="fas fa-question-circle"></i>
                      {{ 'login.forgotpassword'|trans }}
                    </a>
                </form>

            </div>

        </div>

    </div>
{% endblock %}


