{% extends 'partials/_master.twig' %}

{% block main %}

    <style>
        .box {
            display: inline-block;
            border: 1px solid #CCC;
            padding: 0.5em;
            margin: 0.5em;
        }
    </style>

    <marquee>This template is for testing only! This template is for testing only! This template is for testing only!</marquee>

    {% if record.hasField('title') %}
        <h1 class="title">{{ record.title }}</h1>
    {% else %}
        <h1 class="heading">{{ record|title }}</h1>
    {% endif %}

    <hr>

    <h2>Testing output with `allow_html`</h2>

    <p>
        Default output with <code>allow_html: {{ record.field('text_markup').definition.allow_html ? 'true' : 'false' }}</code>:<br>
        <div class="box text_markup_a">{{ record.text_markup }}</div><br>

        Explicit raw: <br>
        <div class="box text_markup_b">{{ record.text_markup|raw }}</div><br>

        Escaped: <br>
        <div class="box text_markup_c">{{ record.text_markup|e }}</div><br>
    </p>

    <hr>

    <p>
        Default output with <code>allow_html: {{ record.field('text_plain').definition.allow_html ? 'true' : 'false' }}</code>:<br>
        <div class="box text_plain_a">{{ record.text_plain }}</div><br>

        Explicit raw: <br>
        <div class="box text_plain_b">{{ record.text_plain|raw }}</div><br>

        Escaped: <br>
        <div class="box text_plain_c">{{ record.text_plain|e }}</div><br>
    </p>

    <p>
        Default output for <code>type: html</code>:<br>
        <div class="box text_html">{{ record.html_field }}</div><br>
    </p>

    <p>
        Default output for <code>type: markdown</code>:<br>
        <div class="box text_markdown">{{ record.markdown_field }}</div><br>
    </p>

    <p>
        Default output for <code>type: textarea</code>:<br>
        <div class="box text_textarea">{{ record.textarea_field }}</div><br>
    </p>

    <h2>Testing output with `sanitise`</h2>

    <p>
        Default output with <code>sanitise: {{ record.field('text_not_sanitised').definition.sanitise ? 'true' : 'false' }}</code>:<br>
    <div class="box text_sanitise_a">{{ record.text_not_sanitised }}</div><br>

    Default output with <code>sanitise: {{ record.field('text_sanitised').definition.sanitise ? 'true' : 'false' }}</code>:<br>
    <div class="box text_sanitise_b">{{ record.text_sanitised }}</div><br>

    </p>

    <hr>

    <h2>Testing output for images</h2>

    {% if record.image %}
        We have a field named `image`: {{ dump(record.getField('image').getValue()) }}
        {{ dump(record.image) }}
        <img src="{{ thumbnail(record.image, 400, 260) }}">
        <hr>
    {% endif %}

    {% if record.picture %}
        We have a field named `picture`: {{ dump(record.picture) }}
        <img src="{{ thumbnail(record.picture, 400, 260) }}">
        <hr>
    {% endif %}

    {% if record|image %}
        We have an 'extras' image: {{ dump(record|image) }}
        <img src="{{ thumbnail(record|image, 400, 260) }}">
        <hr>
    {% endif %}


    {# Output all fields, in the order as defined in the content type.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}
    {% with { 'record': record, 'common': true, 'extended': true, 'repeaters': true, 'blocks': true } %}
        {{ block('sub_fields', 'helpers/_fields.twig') }}
    {% endwith %}

    {{ dump(record) }}

    <hr>
    <h2>Testing multi-level Menu</h2>

    {{ menu('multi-level', template = 'partials/_sub_menu.twig') }}

    <hr>

    {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

{% endblock main %}
