{# Button Macro #}
{% macro button(label, icon, class, attr) %}{% spaceless %}

    {% set label = label|default('button')|trans %}
    {% set icon = icon|replace({'fa-': ''})|default('question-circle') %}
    {% set class = class|replace({'btn-': ''})|default('info') %}
    {% set attr = attr|default([]) %}

    <button class="btn btn-{{ class }} mb-3"
    {% for key,value in attr %} {{ key }}="{{value}}"{% endfor %}>
        <i class="fas fa-{{ icon }} mr-2"></i>
        {{- label -}}
    </button>

{% endspaceless %}{% endmacro %}
