{# Button Macro with defaults #}

{% macro button(label = 'Button', icon = 'question-circle', class = 'tertiary', attr = []) %}{% spaceless %}

    {% set label = label|trans %}
    {% set icon = icon|replace({'fa-': ''}) %}
    {% set class = class|replace({'btn-': ''}) %}
    {% set attr = attr %}

    <button class="btn btn-{{ class }} mb-3"
    {% for key,value in attr %} {{ key }}="{{value}}"{% endfor %}>
        <i class="fas fa-fw fa-{{ icon }} mr-2"></i>
        {{- label -}}
    </button>

{% endspaceless %}{% endmacro %}
