{# Page: Footer > About #}

{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{% block title %} <strong>{{ title }}</strong>
    {% if subtitle|default() %}» {{ subtitle }} {% endif %}
{% endblock title %}

{% block main %}

    <div class="row">
        <div class="col-md-9">
            <h1>{{ title }}</h1>

            {% if subtitle|default() %}
                <h3>{{ subtitle }}</h3>
            {% endif %}

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Torquatus, is qui consul
                cum Cn. Tum ille timide vel potius verecunde: Facio, inquit. Quae sequuntur igitur?
                Sunt enim prima elementa naturae, quibus auctis vírtutis quasi germen efficitur.
                Omnis enim est natura diligens sui. Duo Reges: constructio interrete.
            </p>

            {{ macro.button('action.save', 'fa-save', 'primary', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'secondary', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'tertiary', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'success', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'danger', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'warning', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'info', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'light', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'dark', 'button', '') }}
            {{ macro.button('action.save', 'fa-save', 'link', 'button', '') }}

            <hr>

            <h1>Fields</h1>

            <form method="post" id="editor">

            {% include ['_partials/fields/generic.html.twig'] %}

            {% include ['_partials/fields/generic.html.twig'] with {
                'name': 'foo',
                'id': 'bar',
                'label': 'A Field',
                'placeholder': 'Just a dummy field'
            } %}

            {% setcontent record = 'homepage' returnsingle %}
            {% for key, fielddefinition in record.definition.fields %}

                {% set field = record.field(key, 'en', false, fielddefinition) %}

                {% include [
                    '_partials/fields/' ~ fielddefinition.type ~ '.html.twig',
                    '_partials/fields/generic.html.twig'
                    ] with { 'field' : field } %}

            {% endfor %}

            {# @todo Add more fields #}
            </form>

        </div>
    </div>

{% endblock main %}
