{% import '@bolt/_macro/_macro.html.twig' as macro %}

<div class="record-actions {% if hide_on_mobile|default(false) %}d-lg-none d-xl-block{% endif %}">
    {{ macro.button('action.save', 'fa-save', 'success', {'type': 'submit', 'form': 'editcontent', 'data-patience': 'virtue', 'name': 'save'}) }}

    {% if record.id %}
        {% if record|feature == 'homepage' or not record.definition.get('viewless') %}
            <div class="btn-group">
                {{ macro.button(
                    'action.preview',
                    'fa-external-link-square-alt',
                    'primary',
                    {   'type': 'submit',
                        'form': 'editcontent',
                        'formtarget': '_blank',
                        'formaction': path('bolt_content_edit_preview', {'id': record.id|default(0) })
                    }) }}
            </div>
        {% endif %}

        {% if status|default() %}
        <p>
            <strong>{{ __('label.current_status') }}:</strong>
            <span class="status mx-1 is-{{ record.status}}"></span>{{ __('status.' ~ record.status) }}<br>
            {% if record.status == 'published' %}
                <small>
                    ({{ 'field.modifiedAt'|trans }}: {{ macro.relative_datetime(record.modifiedAt) }}                    )
                </small>
            {% endif %}
        </p>

        <hr>
        <div class="form-fieldsgroup__summary-fields">
            {% if record.status == "published" and record|link(true) %}
                <a href="{{ record|link(true, currentlocale) }}" class="btn btn-tertiary btn-sm" target="_blank">{{ macro.icon('fa-sign-out-alt') }} {{ __('action.view_saved') }}</a>
            {% endif %}
            <a href="{{ record.extras.deleteLink }}" class='action-remove-collection-item btn btn-sm btn-hidden-danger' data-confirmation="{{ 'action.confirm_delete'|trans }}">
                {{ macro.icon('trash') }}{{ 'action.delete'|trans }}
            </a>
        </div>
        {% endif %}

    {% endif %}

</div>
