{% import '@bolt/_macro/_macro.html.twig' as macro %}

<div class="record-actions {% if hide_on_mobile|default(false) %}d-none d-xl-block{% endif %}">
    {% if is_granted('edit', record) %}

        {% if app.request.get('_route') == 'bolt_content_edit' and config.get('general/ajaxy_saving') %}
            {% set type = 'button' %}
        {% else %}
            {% set type = 'submit' %}
        {% endif %}

        {{ macro.button('action.save', 'fa-save', 'success mb-0', {'type': type, 'form': 'editcontent', 'data-patience': 'virtue', 'name': 'save'}) }}
    {% endif %}

    {% if record.id %}
        {% if record|feature == 'homepage' or not record.definition.get('viewless') %}
            <div class="btn-group">
                {{ macro.button(
                    'action.preview',
                    'fa-external-link-square-alt',
                    'primary mb-0',
                    {   'id': 'button-preview',
                        'type': 'submit',
                        'form': 'editcontent',
                        'formtarget': '_blank',
                        'formaction': path('bolt_content_edit_preview', {'id': record.id|default(0) })
                    }) }}

                <button name="bttn_name" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    {{ macro.buttonlink(
                        'action.preview_secure_share'|trans,
                        path(record.definition.get('record_route'), {'slugOrId': record.id, 'contentTypeSlug': record.contenttype,'secret': secret(record.id)}),
                        'fa-user-secret',
                        'btn- dropdown-button mb-0',
                        { 'target': '_blank' }
                    ) }}
                </div>
            </div>
        {% endif %}

        {% if status|default() %}
        <p class="mt-3">
            <strong>{{ __('label.current_status') }}:</strong>
            <span class="status mx-1 is-{{ record.status}} me-2"></span>{{ __('status.' ~ record.status) }}<br>
            {% if record.status == 'published' %}
                <small class="admin__modified-at">
                    ({{ 'field.modifiedAt'|trans }}: {{ macro.relative_datetime(record.modifiedAt) }}                    )
                </small>
            {% endif %}
        </p>

        <hr>
        <div class="form-fieldsgroup__summary-fields">
            {% if record.status == "published" and record|link(true) %}
                <a href="/{{ record.contentType }}/{{ record.id }}" class="btn btn-tertiary btn-sm" target="_blank">{{ macro.icon('fa-sign-out-alt') }} {{ __('action.view_saved') }}</a>
            {% endif %}
            {% if record.extras.deleteLink is defined %}
            <a href="{{ record.extras.deleteLink }}"
               class='action-remove-collection-item btn btn-sm btn-hidden-danger'
               data-modal-title="{{ 'action.confirm_delete'|trans }}"
               data-modal-button-deny="Cancel"
               data-modal-button-accept="OK"
               data-bs-toggle="modal"
               data-bs-target="#resourcesModal"
            >
                {{ macro.icon('trash') }}{{ 'action.delete'|trans }}
            </a>
            {% endif %}
        </div>
        {% endif %}

    {% endif %}

</div>
