{% import '@bolt/_macro/_macro.html.twig' as macro %}

<div class="record-actions">

    {{ macro.button('action.save', 'fa-save', 'success', {'type': 'submit', 'form': 'editcontent'}) }}

    {% if record.id %}
        <div class="btn-group">
            {{ macro.button(
                'action.preview',
                'fa-external-link-square-alt',
                'primary',
                {   'type': 'submit',
                    'form': 'editcontent',
                    'formtarget': '_blank',
                    'formaction': path('bolt_content_edit_preview', {'id': record.id })
                }) }}
        </div>

        {% if status|default() %}
        <p>
            <strong>{{ __('label.current_status') }}:</strong>
            <span class="status mx-1 is-{{ record.status}}"></span>{{ __('status.' ~ record.status) }}
        </p>
        {% endif %}

        {% if record.status == "published" and record.definition.viewless != true %}
            <div class="form-fieldsgroup__summary-fields">
                <a href="{{ record|link(true) }}" class="btn btn-tertiary" target="_blank">{{ macro.icon('fa-sign-out-alt') }} {{ __('action.view_saved') }}</a>
            </div>
        {% endif %}

    {% endif %}

</div>
