{% if record.id and currentlocale %}
    <div class="card mb-3">
        <div class="card-body">
            <p>{{ 'field.current_locale'|trans }}:
                {{ flag(currentlocale) }}<b>{{ currentlocale }}</b>.</p>
            <general-language
                    label="{{ 'field.switch_to_locale'|trans }}"
                    current="{{ currentlocale }}"
                    :locales="{{ contentlocales(locales) }}"
            ></general-language>

            <a href="{{ path('bolt_content_edit_locales', {'id': record.id}) }}" class="btn btn-light btn-small">
                See Localization info
            </a>

        </div>
    </div>
{% endif %}