{% import '_macro/_macro.html.twig' as macro %}

{% for contentType, relation in record.definition.relations %}

    {% set options = related_options(contentType, relation.order|default(), relation.format|default(), relation.required, relation.allow_empty) %}

    {% set value = record|related_values(contentType) %}

    <div class="mb-4">

        {# Print prefix #}
        {% if relation['prefix']|default() is not empty %}
            {{ macro.generatePrefix(relation['prefix']|default, contentType) }}
        {% endif %}

        {% include '@bolt/_partials/fields/_label.html.twig' with {
            'id': 'relationship-' ~ contentType,
            'label': relation.label,
            'required': relation.required
        } %}

        <div>
            <editor-select
                    :value="{{ value }}"
                    :name="'relationship[{{ contentType }}]'"
                    :id="'relationship-{{ contentType }}'"
                    :options="{{ options }}"
                    :multiple="{{ relation.multiple ? 'true' : 'false' }}"
                    :taggable=false
                    :autocomplete=true
            ></editor-select>
        </div>

        {# Print postfix #}
        {% if relation['postfix']|default() is not empty %}
            {{ macro.generatePostfix(relation['postfix']|default, contentType) }}
        {% endif %}

    </div>

{% endfor %}

