{% import '_macro/_macro.html.twig' as macro %}

{% set fromContentType = record.definition %}

{% for toContentTypeSlug, relation in record.definition.relations %}

    {% set options = related_options(fromContentType, toContentTypeSlug, relation.order|default(), relation.format|default(), relation.required, relation.allow_empty, relation.link_to_record|default(false), ) %}
    {% set value = record|related_values(toContentTypeSlug) %}
    {% set limit = config.get('general/maximum_listing_select', 2000) %}

    {% if relation.get('limit') is defined and relation.get('limit') is not empty %}
        {% set limit = relation.get('limit') %}
    {% endif %}

    <div class="mb-4">

        {# Print prefix #}
        {% if relation['prefix']|default() is not empty %}
            {{ macro.generatePrefix(relation['prefix']|default, toContentTypeSlug) }}
        {% endif %}

        {% include '@bolt/_partials/fields/_label.html.twig' with {
            'id': 'relationship-' ~ toContentTypeSlug,
            'label': relation.label,
            'required': relation.required
        } %}

        <div>
            <editor-select
                :value="{{ value }}"
                :name="'relationship[{{ toContentTypeSlug }}]'"
                :id="'relationship-{{ toContentTypeSlug }}'"
                :options="{{ options }}"
                :optionslimit="{{ limit }}"
                :multiple="{{ relation.multiple ? 'true' : 'false' }}"
                :taggable=false
                :autocomplete=true
            ></editor-select>
        </div>

        {# Print postfix #}
        {% if relation['postfix']|default() is not empty %}
            {{ macro.generatePostfix(relation['postfix']|default, toContentTypeSlug) }}
        {% endif %}

    </div>

{% endfor %}

