
{% for contentType, relation in record.definition.relations %}

    {% set options = related_options(contentType, relation.order|default(), relation.format|default(), relation.required) %}
{#    {% set value = record|related_values(contentType) %}#}
    {% set value = record|related_values_from_content(contentType) %}

    <div class="form-group is-normal">

        {% include '@bolt/_partials/fields/_label.html.twig' with {
            'id': 'relationship-' ~ contentType,
            'label': relation.label,
            'required': relation.required
        } %}

        <div>
            <editor-select
                    :value="{{ value }}"
                    :name="'relationship[{{ contentType }}]'"
                    :id="'relationship-{{ contentType }}'"
                    :options="{{ options }}"
                    :multiple="{{ relation.multiple ? 'true' : 'false' }}"
                    :taggable=false
                    :allowempty="{{ relation.required ? 'false' : 'true' }}"
                    :searchable=true
            ></editor-select>
        </div>

    </div>

{% endfor %}

