<div class="tab-pane" id="relations" role="tabpanel" aria-labelledby="relations-tab">
{% for taxonomy in record.definition.taxonomy %}

        {% set definition = config.get('taxonomies/' ~ taxonomy) %}
        {% if definition %}

            {% set options = taxonomyoptions(definition) %}
            {% set value = taxonomyvalues(record.taxonomies, definition) %}

            <div class="form-group editor--group is-normal">
                <label for="field-title">
                    {{ definition.name }}:
                </label>
                <div>
                    <editor-select
                            :value="{{ value|json_encode() }}"
                            :name="'taxonomy[{{ definition.slug }}]'"
                            :id="'taxonomy-{{ definition.slug }}'"
                            :options="{{ options|json_encode() }}"
                            :multiple="{{ definition.multiple ? 'true' : 'false' }}"
                            :taggable="{{ (definition.behaves_like == 'tags') ? 'true' : 'false' }}"
                    ></editor-select>

                    {# (Current saved value: <code>{{ value|json_encode() }}</code> ) #}
                </div>

            </div>

        {% endif %}

{% endfor %}

</div>
