{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{# The 'title' and 'shoulder' blocks are the main heading of the page. #}
{% block shoulder %}
    {{ 'listing.title_overview'|trans }}
{% endblock shoulder %}

{% block title %}
    {{ macro.icon(contentType.icon_one) }}
    {{ contentType.name|raw }}
    {% if filterValue %}<small>({{ __('label.filtered_by') }}: <em>'{{ filterValue }}'</em>)</small>{% endif %}
    {% if taxonomyValue %}<small>({{ __('label.filtered_by') }}: <em>'{{ taxonomyValue }}'</em>)</small>{% endif %}
{% endblock %}

{% block vue_id 'listing' %}

{# This 'topsection' gets output _before_ the main form, allowing `dump()`, without breaking Vue #}
{% block topsection %}

{% endblock %}

{% block main %}
    <div>
        {{ widgets('overview_below_header') }}
        {% include '@bolt/_partials/_content_listing.html.twig' with {'records': records, 'type': contentType.slug } %}
        {{ widgets('overview_bottom') }}
    </div>
{% endblock %}

{% block aside %}

    {{ widgets('overview_aside_top') }}

    <listing-select-box
      plural="{{ contentType.name }}"
      singular="{{ contentType.singular_name }}"
      :labels="{{
        {
            'selected': 'listing_select_box.card_header.selected'|trans,
            'status_to_draft': 'listing_table.actions.status_to_draft'|trans,
            'status_to_held': 'listing_table.actions.status_to_held'|trans,
            'status_to_published': 'listing_table.actions.status_to_publish'|trans,
            'delete': 'action.delete'|trans,
            'update_all': 'action.update_all'|trans,
        }|json_encode }}"
      :csrftoken="{{ csrf_token('batch')|json_encode }}"
      backend-prefix="{{ path('bolt_dashboard') }}"
    ></listing-select-box>

    {% set filterOptions = {
        'id': "Id", 'title': 'Title', 'author': 'Author', 'status': 'Status', 'createdAt': 'Created date',
        'modifiedAt': 'Modified date', 'publishedAt': 'Published date', 'depublishedAt': 'Depublished date'
    } %}

    <div class="card mb-3">
        <div class="card-header">
            {{ macro.icon('star') }} {{ 'title.contentlisting'|trans }} » {{ contentType.name }}
        </div>
        <div class="card-body">
            <p>
                <a class="btn btn-primary" href="{{ path('bolt_content_new', { contentType: contentType.slug }) }}" data-patience="virtue">
                    {{ macro.icon('magic') }} {{ __('action.create_new') }} {{ contentType.singular_name }}
                </a>
            </p>
            <form>
                <div class="mb-4">
                    <p>
                        <strong>{{ 'listing.title_sortby'|trans }}</strong>:
                        <select class="form-control" name="sortBy" title="{{ 'listing.title_sortby'|trans }}">
                                <option value="" {% if sortBy is empty %}selected{% endif %}>
                                    {{ 'listing.option_select_sortby'|trans }}
                                </option>
                            {% for key, filterOption in filterOptions %}
                                <option value="{{ key }}" {% if sortBy == key %}selected{% endif %}>
                                    {{ filterOption }}
                                </option>
                                <option value="-{{ key }}" {% if sortBy == '-' ~ key %}selected{% endif %}>
                                    -{{ filterOption }}
                                </option>
                            {% endfor %}
                        </select>
                    </p>

                    {% if contentType.get('taxonomy') %}
                            {% for taxonomy in contentType.get('taxonomy') %}
                                {% set taxonomyDefinition = config.get('taxonomies/' ~ taxonomy) %}
                                {% if taxonomyDefinition and taxonomyDefinition.behaves_like != 'tags' %}
                                <p>
                                    <strong>{{ taxonomyDefinition.singular_name }}:</strong>
                                    {% for key, value in taxonomyDefinition.options %}
                                        <a class="badge badge-tertiary text-decoration-none {% if taxonomy == taxonomyName and taxonomyValue == key %}selected{% endif %}"
                                           href="?taxonomy={{ (taxonomyDefinition.slug ~ '=' ~ key)|url_encode }}">
                                            {{ value }}
                                        </a>
                                    {% endfor %}
                                </p>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}

                    <p>
                        <strong>{{ 'listing.title_filterby'|trans }}</strong>:
                        <input class="form-control" type="text" name="filter" id="content-filter" value="{{ filterValue }}"
                               placeholder="{{ 'listing.placeholder_filter'|trans }}" title="{{ 'listing.placeholder_filter'|trans }}" />
                    </p>

                    {# -- Commented this bit out for now.. It _does_ work, but does it add enough
                          value to take up valuable screen estate? --
                    <p>
                        <label for="filterKey">{{ 'listing.title_filterby_field'|trans }}</label>:
                        <select name="filterKey" class="form-control">
                            <option value="anyField"></option>
                            {% for name, field in contentType.fields %}
                                <option value="{{ name }}" {% if name == filterKey|default %}selected {% endif %}>{{ field.label }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    -- #}
                </div>

                    {{ macro.button('listing.button_filter', 'filter', 'secondary mb-0', {'type': 'submit'}) }}

                    {% if sortBy is not empty or filterValue is not empty or taxonomyValue is not empty %}
                        {{ macro.buttonlink('listing.button_clear', path('bolt_content_overview', {'contentType': contentType.slug}),  'times', 'tertiary mb-0') }}
                    {% endif %}
            </form>
        </div>
    </div>

    {{ widgets('overview_aside_middle') }}

    <div class="card">
        <div class="card-header">
            {{ macro.icon(contentType.icon_one) }}  {{ 'title.contentType'|trans }} {{ contentType.name }}
        </div>
        <div class="card-body">

        {% if contentType.description %}
            <p>{{ contentType.description }}</p>
        {% endif %}

        {% set showingRecords = ((records.currentPage -1) * records.maxPerPage + 1 ) ~ '-'
            ~ ((records.currentPage -1) * records.maxPerPage + records|length) %}
        <ul class="px-2">
            <li>
                {{ 'listing_details_box.showing_records'
                    |trans({'%current%': '<strong>'~showingRecords~'</strong>', '%total%': '<strong>'~records.nbResults~'</strong>'})
                    |raw
                }}
            </li>
            <li>
                {{ 'listing_details_box.name'
                    |trans({'%name%': '<code>'~contentType.name~'</code>', '%singularName%': '<code>'~contentType.singular_name~'</code>'})
                    |raw
                }}
            </li>
            <li>
                {{ 'listing_details_box.slug'
                    |trans({'%slug%': '<code>'~contentType.slug~'</code>', '%singularSlug%': '<code>'~contentType.singular_slug~'</code>'})
                    |raw
                }}
            </li>
            <li>
                {{ 'listing_details_box.record_template'
                    |trans({'%template%': '<code>'~contentType.record_template~'</code>'})
                    |raw
                }}
            </li>
            <li>
                {{ 'listing_details_box.listing_template'
                    |trans({'%template%': '<code>'~contentType.listing_template~'</code>', '%listingRecords%': contentType.listing_records})
                    |raw
                }}
            </li>

            {% set locales %}
                {% for locale in contentType.locales %}
                    {{ flag(locale) }}
                    {%- if not loop.last %}, {% endif %}
                {% endfor %}
            {% endset  %}
            {% if contentType.locales is not empty %}
                <li>
                    {{ 'listing_details_box.locales'
                        |trans({'%locales%': locales})
                        |raw
                    }}
                </li>
            {% endif %}
        </ul>

        </div>
    </div>

    {{ widgets('overview_aside_bottom') }}

{% endblock %}
