{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
    {% if contentType %}
        <span class="admin__header--title__prefix">
            {# get this in proper with translations and label resouces #}
            {{ 'listing.title_overview'|trans }}
        </span>
        <i class='fas {{contentType.icon_one}}'></i>
        {{ contentType.name }}
    {% else %}
        {{ 'title.contentlisting'|trans }}
    {% endif %}
{% endblock %}

{% block vue_id 'listing' %}

{# This 'topsection' gets output _before_ the main form, allowing `dump()`, without breaking Vue #}
{% block topsection %}

{% endblock %}

{% block main %}
    <div>
        {% include '@bolt/_partials/_content_listing.html.twig' with {'records': records, 'type': contentType.slug } %}
    </div>
{% endblock %}

{% block aside %}

    <listing-select-box
      plural="{{ contentType.name }}"
      singular="{{ contentType.singular_name }}"
      labels="{{
        { 'card_header':
            {   'selected': 'listing_select_box.card_header.selected'|trans   },
          'card_body':
            {
                'records_passed': 'listing_select_box.card_body.records_passed'|trans,
                'remark': 'listing_select_box.card_body.remark'|trans,
            }
        }|json_encode }}"
    ></listing-select-box>

    {% set filterOptions = {
        'id': "Id", 'title': 'Title', 'Author': 'Author', 'status': 'Status', 'createdAt': 'Created date',
        'modifiedAt': 'Modified date', 'publishedAt': 'Published date', 'depublishedAt': 'Depublished date'
    } %}
    {% set sortBy = app.request.get('sort')|default() %}
    {% set filterValue = app.request.get('filter')|default() %}

    <div class="card">
        <div class="card-header">
            {{ 'title.contentlisting'|trans }}
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <p>
                        <strong>{{ 'listing.title_sortby'|trans }}</strong>:
                        <select class="form-control" name="sort">
                                <option value="" disabled {% if sortBy is empty %}selected{% endif %}>
                                    {{ 'listing.option_select_item'|trans }}
                                </option>
                            {% for key, filterOption in filterOptions %}
                                <option value="{{ key }}" {% if sortBy == key %}selected{% endif %}>
                                    {{ filterOption }}
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <strong>{{ 'listing.title_title'|trans }}</strong>:
                        <input class="form-control" type="text" name="filter" value="{{ filterValue }}"
                               placeholder="{{ 'listing.placeholder_filter'|trans }}"/>
                    </p>
                </div>
                <div class="form-group">
                    <button class="btn btn-tertiary" type="submit">{{ 'listing.button_filter'|trans }}</button>
                    {% if sortBy is not empty or filterValue is not empty %}
                        <a class="btn btn-danger"
                           href="{{ path('bolt_content_overview', {'contentType': contentType.slug}) }}">
                            <i class="fa fa-close"></i>
                            {{ 'listing.button_clear'|trans }}
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
