{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{# The 'title' and 'shoulder' blocks are the main heading of the page. #}
{% block shoulder %}
    {{ 'listing.title_overview'|trans }}
{% endblock shoulder %}

{% block title %}
    {{ macro.icon(contentType.icon_one) }}
    {{ contentType.name }}
{% endblock %}

{% block vue_id 'listing' %}

{# This 'topsection' gets output _before_ the main form, allowing `dump()`, without breaking Vue #}
{% block topsection %}

{% endblock %}

{% block main %}
    <div>
        {% include '@bolt/_partials/_content_listing.html.twig' with {'records': records, 'type': contentType.slug } %}
    </div>
{% endblock %}

{% block aside %}

    <listing-select-box
      plural="{{ contentType.name }}"
      singular="{{ contentType.singular_name }}"
      :labels="{{
        {
            'selected': 'listing_select_box.card_header.selected'|trans,
            'status_to_draft': 'listing_table.actions.status_to_draft'|trans,
            'status_to_held': 'listing_table.actions.status_to_held'|trans,
            'status_to_published': 'listing_table.actions.status_to_publish'|trans,
            'delete': 'action.delete'|trans,
            'update_all': 'action.update_all'|trans,
        }|json_encode }}"
      :csrftoken="{{ csrf_token('batch')|json_encode }}"
      :backend-prefix="{{ path('bolt_dashboard') }}"
    ></listing-select-box>

    {% set filterOptions = {
        'id': "Id", 'title': 'Title', 'author': 'Author', 'status': 'Status', 'createdAt': 'Created date',
        'modifiedAt': 'Modified date', 'publishedAt': 'Published date', 'depublishedAt': 'Depublished date'
    } %}

    <div class="card mb-3">
        <div class="card-header">
            {{ macro.icon('star') }} {{ 'title.contentlisting'|trans }} » {{ contentType.name }}
        </div>
        <div class="card-body">
            <p>
                <a class="btn btn-primary" href="{{ path('bolt_content_new', { contentType: contentType.slug }) }}" data-patience="virtue">
                    {{ macro.icon('magic') }} {{ __('action.create_new') }} {{ contentType.singular_name }}
                </a>
            </p>
            <form>
                <div class="form-group">
                    <p>
                        <strong>{{ 'listing.title_sortby'|trans }}</strong>:
                        <select class="form-control" name="sortBy">
                                <option value="" {% if sortBy is empty %}selected{% endif %}>
                                    {{ 'listing.option_select_sortby'|trans }}
                                </option>
                            {% for key, filterOption in filterOptions %}
                                <option value="{{ key }}" {% if sortBy == key %}selected{% endif %}>
                                    {{ filterOption }}
                                </option>
                                <option value="-{{ key }}" {% if sortBy == '-' ~ key %}selected{% endif %}>
                                    -{{ filterOption }}
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    {#
                    {% if contentType.get('taxonomy') %}
                        <p>
                            <strong>{{ 'listing.title_taxonomy'|trans }}</strong>:
                            <select class="form-control" name="taxonomy">
                                <option value="" {% if sortBy is empty %}selected{% endif %}>
                                    {{ 'listing.option_select_item'|trans }}
                                </option>
                                {% for taxonomy in contentType.get('taxonomy') %}
                                    {% set taxonomyDefinition = config.get('taxonomies/' ~ taxonomy) %}
                                    {% if taxonomyDefinition.behaves_like != 'tags' %}
                                        <optgroup label="{{ taxonomyDefinition.singular_name }}">
                                        {% for key, taxonomyValue in taxonomyDefinition.options %}
                                            <option value="{{ taxonomyDefinition.slug }}={{ key }}" {% if taxonomy == key %}selected{% endif %}>
                                                {{ taxonomyValue }}
                                            </option>
                                        {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                    {% endif %}
                    #}
                    <p>
                        <strong>{{ 'listing.title_filterby'|trans }}</strong>:
                        <input class="form-control" type="text" name="filter" id="content-filter" value="{{ filterValue }}"
                               placeholder="{{ 'listing.placeholder_filter'|trans }}"/>
                    </p>

                    <p>
                        <label for="filterKey">{{ 'listing.title_filterby_field'|trans }}</label>:
                        <select name="filterKey" class="form-control">
                            <option value="anyField"></option>
                            {% for name, field in contentType.fields %}
                                <option value="{{ name }}" {% if name == filterKey|default %}selected {% endif %}>{{ field.label }}</option>
                            {% endfor %}
                        </select>
                    </p>
                </div>

                    {{ macro.button('listing.button_filter', 'filter', 'tertiary mb-0', {'type': 'submit'}) }}

                    {% if sortBy is not empty or filterValue is not empty %}
                        {{ macro.buttonlink('listing.button_clear', path('bolt_content_overview', {'contentType': contentType.slug}),  'times', 'tertiary mb-0') }}
                    {% endif %}
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            {{ macro.icon(contentType.icon_one) }}  {{ 'title.contentType'|trans }} {{ contentType.name }}
        </div>
        <div class="card-body">

        {% if contentType.description %}
            <p>{{ contentType.description }}</p>
        {% endif %}

        <ul class="px-2">
            <li>Name: <code>{{ contentType.name }}</code> (singular: <code>{{ contentType.singular_name }}</code>)</li>
            <li>Slug: <code>{{ contentType.slug }}</code> (singular: <code>{{ contentType.singular_slug }}</code>)</li>
            <li>Record template: <code>{{ contentType.record_template }}</code></li>
            <li>Listing template: <code>{{ contentType.listing_template }}</code> ({{ contentType.listing_records }} records)</li>
            {% if contentType.locales is not empty %}
                <li>Locales:
                    {% for locale in contentType.locales %}
                        {{ flag(locale) }}
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        </ul>

        </div>
    </div>

{% endblock %}
