{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
    {% if contentType %}
        <i class='fas mr-2 {{contentType.icon_one}}'></i> <strong>{{ contentType.name }}</strong>
    {% else %}
        <strong>{{ 'title.contentlisting'|trans }}</strong>
    {% endif %}
{% endblock %}

{% block vue_id 'listing' %}

{% block main %}
    <div>
        {% include '@bolt/_partials/_content_listing.html.twig' with {'records': records, 'type': 'contentType'  } %}
    </div>
{% endblock %}

{% block aside %}

    <listing-select-box
      plural="{{ contentType.name }}"
      singular="{{ contentType.singular_name }}"
    ></listing-select-box>

    <div class="card">
        <div class="card-header">
            {{ 'title.contentlisting'|trans }}
        </div>
        <div class="card-body">
            (filtering options go here)
        </div>
    </div>

{% endblock %}