{% extends '@bolt/_base/layout.html.twig' %}

{% set alltypes = ['select'] %}
{% for key, fielddefinition in record.definition.fields %}
    {% set alltypes = alltypes|merge([fielddefinition.type]) %}
{% endfor %}

{% block title %}
    {{ icon(record) }}
    {{ 'caption.edit'|trans }}
    {{ record.definition.singular_name }}
    »
    <strong>{{ excerpt(record|title, 50)|default('New') }}</strong>
{% endblock %}

{#{% block vue_id 'editor' %}#}

{% block main %}

    {% set locales = record.definition.locales %}

    <table class="table">
        <tr>
            <th>Field</th>
            {% for locale in locales %}
                <th>{{ flag(locale) }}{{ locale }}</th>
            {% endfor %}
        </tr>

        {% for group in record.definition.groups %}
            {% for key, fielddefinition in record.definition.fields|filter(fielddefinition => fielddefinition.group == group) %}
                {% if record.hasField(key) %}
                    {% set field = record.getField(key) %}
                {% else %}
                    {% set field = field_factory(key, fielddefinition) %}
                {% endif %}
                <tr>
                    <td>
                        <b>{{ field|label }}</b><br>
                        Type: {{ field|type }}<br>
                    </td>
                    {% set localizedValues = find_translations(field) %}
                    {% for locale in locales %}
                        {% set translated = field|translated(locale) %}
                        <td>
                            {% if not field.definition.localize %}
                                <span class="badge badge-info">{{ 'view_locales.badge_default'|trans }}</span>
                            {% elseif localizedValues[locale] is not defined %}
                                <span class="badge badge-danger">{{ 'view_locales.badge_missing'|trans }}</span>
                            {% elseif localizedValues[locale] is defined and translated.twigvalue is empty %}
                                <span class="badge badge-warning">{{ 'view_locales.badge_empty'|trans }}</span>
                            {% else %}
                                <span class="badge badge-success">{{ 'view_locales.badge_ok'|trans }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        {% endfor %}

        <tr>
            <td>&nbsp;</td>
            {% for locale in locales %}
                <td>
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('bolt_content_edit', {'id': record.id, 'edit_locale': locale}) }}">
                        {{ 'general.phrase.edit'|trans }}
                    </a>
                </td>

            {% endfor %}
        </tr>

    </table>

{% endblock %}

{% block aside %}

{% endblock aside %}
