{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{% set alltypes = ['select'] %}
{% for key, fielddefinition in record.definition.fields %}
    {% set alltypes = alltypes|merge([fielddefinition.type]) %}
{% endfor %}

{% set displayTitle = record|title()|default(record.id ?
    __('caption.untitled_contenttype', {'%contenttype%': record.definition.singular_name}) :
    __('caption.new_contenttype', {'%contenttype%': record.definition.singular_name}) ) %}

{# The 'title' and 'shoulder' blocks are the main heading of the page. #}
{% block shoulder %}
    {{ 'caption.translations'|trans }} &raquo;
    {{ record.definition.singular_name }}
{% endblock shoulder %}

{% block title %}
    {{ icon(record) }}
    {{ displayTitle|excerpt(50) }}
{% endblock %}


{#{% block vue_id 'editor' %}#}

{% block main %}

    {% set locales = record.definition.locales %}

    <table class="table">
        <thead>
            <th>Field</th>
            {% for locale in locales %}
                <th>{{ flag(locale) }}{{ locale }}</th>
            {% endfor %}
        </thead>

        {% for group in record.definition.groups %}
            {% for key, fielddefinition in record.definition.fields|filter(fielddefinition => fielddefinition.group == group) %}
                {% if record.hasField(key) %}
                    {% set field = record.getField(key) %}
                {% else %}
                    {% set field = field_factory(key, fielddefinition) %}
                {% endif %}

                {{ _self.renderfield(field, locales) }}
            {% endfor %}

        {% endfor %}

        <tr>
            <td>&nbsp;</td>
            {% for locale in locales %}
                <td>

                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('bolt_content_edit', {'id': record.id, 'edit_locale': locale}) }}">
                        {{ macro.icon('edit') }}
                        {{ 'general.phrase.edit'|trans }}
                    </a>
                </td>

            {% endfor %}
        </tr>

    </table>

{% endblock %}

{% block aside %}

{% endblock aside %}

{# Shows one or many rows, based on field and subfields. #}
{% macro renderfield(field, locales) %}
    {% if field|type in ['set', 'collection'] %}
        {% for subfield in field.value %}
            {% do subfield.definition.put('label', field|label ~ ' ⇒ ' ~ subfield|label) %}
            {{ _self.renderfield(subfield, locales) }}
        {% endfor %}
    {% else %}
        {{ _self.renderrow(field, locales) }}
    {% endif %}
{% endmacro %}

{# Shows a single row for a field without subfields. #}
{%  macro renderrow(field, locales) %}
    <tr>
        <td>
            <b>{{ field|label }}</b><br>
            Type: {{ field|type }}<br>
        </td>
        {% set localizedValues = find_translations(field) %}
        {% for locale in locales %}
            {% set translated = field|translate(locale) %}
            <td>
                {% if not field.definition.localize %}
                    <span class="badge bg-info">{{ 'view_locales.badge_default'|trans }}</span>
                {% elseif localizedValues[locale] is not defined %}
                    <span class="badge bg-danger">{{ 'view_locales.badge_missing'|trans }}</span>
                {% elseif localizedValues[locale] is defined and translated.twigvalue is empty %}
                    <span class="badge bg-warning">{{ 'view_locales.badge_empty'|trans }}</span>
                {% else %}
                    <span class="badge bg-success">{{ 'view_locales.badge_ok'|trans }}</span>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endmacro %}
