
<table class="table table-striped table-compact" id="files-list" style="background-color: #FFF;">
    <thead class="thead-light">
    <tr>
        <th></th>
        <th>{{ 'filename'|trans }}</th>
        <th>{{ 'thumbnail'|trans }}</th>
        <th>{{ 'size'|trans }}</th>
        <th>{{ 'date'|trans }}</th>
        <th>{{ 'actions'|trans }}</th>
    </tr>
    </thead>

    {% for file in finder %}

        {% set extension = file.extension() %}
        {% set filename = path ~ file.getRelativePathname() %}
        {% set icon = 'fa-file' %}
        {% set link = path('bolt_file_edit', {'location': location.key, 'file': filename }) %}
        {% set thumbnail = '' %}
        {% set title = '' %}
        {% set dimensions = '' %}
        {% set original = asset((path != '/' ? path|trim('/') ~ '/') ~ file.filename, 'files') %}

        {% if extension in imageformats %}

            {% set thumbnail = filename|thumbnail(width = 100, height = 72, location = location.key, fit = 'crop') %}
            {% set icon = 'fa-image' %}
            {% set link = path('bolt_media_new', {'location': location.key, 'file': filename}) %}

            {% for image in media|default([]) %}
                {% if image.filename in filename %}
                    {% set title = image.title %}
                    {% set dimensions = image.width ~ ' × ' ~ image.height ~ 'px' %}
                    {% set link = path('bolt_media_edit', {'id': image.id}) %}
                {% endif %}
            {% endfor %}

        {% endif %}
        <tr>
            <td><i class="fas {{ icon }}"></i></td>
            <td>
                <b>
                    <a href="{{ link }}" class="text-decoration-none">
                        {{ file.getRelativePathname|shy }}
                    </a>
                </b>
                {% if title %}<br><small>{{ title }}</small>{% endif %}
            </td>
            <td class="listing-thumb">
                {%- if thumbnail -%}
                    <a class="lightbox"
                       href="{{ filename|thumbnail(width = 1000, height = 1000, location = location.key, fit = 'crop') }}">
                    <img src="{{ thumbnail }}" loading="lazy" width="100" height="72">
                    </a>
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
            <td>
                <small style="white-space:nowrap;">{{ file.getSize()|format_bytes(1) }}
                {% if dimensions %}<br>{{ dimensions }}{% endif %}
                </small>
            </td>
            <td>
                <small>{{ file.getCTime()|date('Y-m-d H:i:s') }}</small>
            </td>
            <td>
                {% include '@bolt/finder/_files_actions.html.twig' %}
            </td>
        </tr>
    {% else %}
    <tr>
        <td colspan="6">
            <mark><strong>{{ 'files_list.remark'|trans|raw }}</strong></mark>
        </td>
    </tr>
    {% endfor %}
</table>
