{% import '@bolt/_macro/_macro.html.twig' as macro %}

<table class="table table-striped table-compact" id="files-folders" style="background-color: #FFF;">
    <thead class="thead-light">
    <tr>
        <th>{{ 'directoryname'|trans }}</th>
        <th>{{ 'actions'|trans }}</th>
    </tr>
    </thead>

    {% if path != '/' %}
        <tr>
            <td>
                <b>
                    <a href="{{ path('bolt_filemanager', {'location': location.key, 'path': parent }) }}">
                        <i class="fas fa-folder-minus"></i>
                        ../
                    </a>
                </b>
            </td>
            <td>
            </td>
        </tr>
    {% endif %}

    {% for directory in folders.directories() %}
        {% set dirname = path ~ directory.getRelativePathname() %}
        <tr>
            <td>
                <b>
                    {% if path != '/' %}<i class="folder-indent"></i>{% endif %}
                    <a href="{{ path('bolt_filemanager', {'location': location.key, 'path': dirname }) }}">
                        <i class="fas fa-folder"></i>
                        {{ directory.getRelativePathname }}/
                    </a>
                </b>
            </td>
            <td>
                {{ macro.buttonlink('action.delete', path('bolt_filemanager_delete', {'path': dirname, 'location': location.key, '_csrf_token': csrf_token('filemanager-delete')}), 'trash', 'danger sm mb-0', {'data-confirmation': 'action.confirm_delete'|trans }) }}
            </td>
        </tr>
    {% endfor %}

    {% include 'finder/_createfolder.html.twig' %}

</table>
