{% if allfiles|default() %}

<div class="row">
    <div class="col-md-auto align-self-end">
        <p style="margin-top: 0.75rem">{{ 'quickselect.title_select'|trans }}</p>
    </div>
    <div class="col">
        <div class="selectize-control selectize form-control single" style="min-height: 3rem;">
            <select name="quickselect" id="quickselect" placeholder="{{ 'form.quick_select_file'|trans }}">
            </select>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {

        $('#quickselect').selectize({
            create: false,
            sortField: 'text',
            maxItems: 1,
            searchField: ['value', 'description'],
            closeAfterSelect: true,
            onChange: function(value) {
              window.location = value;
            },
            options: [
                {% for file in allfiles %}
                { value: '{{ path('bolt_file_edit', {'location': 'config', 'file': file.filename}) }}', filename: '{{ file.filename }}', description: '{{ file.description }}'},
                {% endfor %}
            ],
            render: {
                option: function(item) {
                    return "<div class='option'>" +
                        item.filename + " <small> - " + item.description + " </small></div>";
                },
                item: function(item) {
                    return "<div class='option'>" +
                        item.filename + " <small> - " + item.description + " </small></div>";
                }
            }
        });
    });
</script>

{% endif %}
