{% if allfiles %}

<div class="row">
    <div class="col-2">
        <label>{{ 'label.quick_select'|trans }}</label>
    </div>
    <div class="col-8">
        <select name="quickselect" id="quickselect">
            <option>{{ 'form.quick_select_file'|trans }}</option>

            {% for file in allfiles %}
            <option value="{{ file.filename }}">
                {{ file.filename }} - {{ file.description }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary">{{ 'action.go'|trans }}</button>
    </div>
</div>

{% endif %}