{% extends '@bolt/_base/layout.html.twig' %}

{% set extension = file|split('.')|last %}
{% set modes = {
    'md': 'markdown',
    'markdown': 'markdown',
    'htm': 'html',
    'html': 'html',
    'yml': 'yaml',
    'yaml': 'yaml',
    'twig': 'twig',
    'css': 'css',
    'js': 'javascript',
    'php': 'php'
} %}
{% set mode = modes[extension]|default('') %}

{% block container %}
{% endblock %}

{% block title %}
    {{ 'caption.edit_file'|trans }} » <strong>{{ file|split('/')|last}}</strong>
{% endblock %}

{% block main %}
    <h2>{{ 'caption.path'|trans }}: <code>{{ location }}{{ file }}</code></h2>

    <form method="post">
        <input type="hidden" name="file" value="{{ file }}">
        <input type="hidden" name="location" value="{{ location }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('editfile') }}">
        <div class="form-group">
            <textarea name="editfile" id="editfile_textarea">{{ contents }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="save">{{ 'action.save'|trans }}</button>
        </div>
    </div>
    </form>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var myCodeMirror = CodeMirror.fromTextArea(editfile_textarea, {
    lineNumbers: true,
    mode: '{{ mode }}'
});
</script>
{% endblock %}