{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
    {{ 'caption.finder'|trans }} » <strong>{{ name }}</strong>
{% endblock %}

{% block main %}

    {% include '@bolt/finder/_quickselect.html.twig' %}

    {% set imageformats = ['gif', 'jpg', 'jpeg', 'png', 'svg'] %}

    {% if view == 'list' %}
        {% include '@bolt/finder/_files_list.html.twig' %}
    {% else %}
        {% include '@bolt/finder/_files_cards.html.twig' %}
    {% endif %}

{% endblock %}

{% block aside %}

<div class="card mb-4">
    <div class="card-header">{{ 'caption.meta_information'|trans }}</div>
    <div class="card-body">
        <p class="path">{{ 'caption.path'|trans }}: <code>{{ location }}{{ path }}</code></p>

        {{ 'finder.label_view'|trans }}
        <div class="btn-group">
            <a class="btn btn-secondary"
               href="{{ path('bolt_filemanager', {'location': location, 'path': path, 'view': 'list' }) }}">
                <i class="fas fa-list fa-fw"></i>{{ 'finder.button_list'|trans }}
            </a>
            <a class="btn btn-secondary ml-1"
               href="{{ path('bolt_filemanager', {'location': location, 'path': path, 'view': 'cards' }) }}">
                <i class="fas fa-th fa-fw"></i>{{ 'finder.button_cards'|trans }}
            </a>
        </div>
    </div>
</div>

    {% include '@bolt/finder/_folders.html.twig' %}

    {% include '@bolt/finder/_uploader.html.twig' %}

{% endblock aside %}

{% block stylesheets %}
   {{ parent() }}
{% endblock %}
