{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{# The 'title' and 'shoulder' blocks are the main heading of the page. #}
{% block shoulder %}
    {{ 'caption.file_management'|trans }}
{% endblock shoulder %}

{% block title %}
    {{ macro.icon(location.icon) }}
    {{ location.name }}: <code>{{ location.key }}{{ path }}</code>
{% endblock %}

{% block main %}
    {{ widgets('files_below_header') }}
    <div id="filemanager">
        {% include '@bolt/finder/_quickselect.html.twig' %}

        {% include '@bolt/finder/_folders.html.twig' %}

        {% set imageformats = ['gif', 'jpg', 'jpeg', 'png', 'svg'] %}

        {% if view == 'list' %}
            {% include '@bolt/finder/_files_list.html.twig' %}
        {% else %}
            {% include '@bolt/finder/_files_cards.html.twig' %}
        {% endif %}

        {{ pager(finder, template = '@bolt/helpers/_pager_bootstrap.html.twig', class="justify-content-center") }}

    </div>
    {{ widgets('files_bottom') }}
{% endblock %}

{% block aside %}

<div class="card mb-4">
    <div class="card-header">{{ 'caption.meta_information'|trans }}</div>
    <div class="card-body">
        <p class="path">{{ 'caption.path'|trans }}: <code>{{ location.key }}{{ path }}</code></p>
        {{ 'finder.label_view'|trans }}
        <div class="btn-group">
            <a class="btn btn-secondary"
               href="{{ path('bolt_filemanager', {'location': location.key, 'path': path, 'view': 'list' }) }}">
                {{ macro.icon('list') }}{{ 'finder.button_list'|trans }}
            </a>
            <a class="btn btn-secondary ms-1"
               href="{{ path('bolt_filemanager', {'location': location.key, 'path': path, 'view': 'cards' }) }}">
                {{ macro.icon('th') }}{{ 'finder.button_cards'|trans }}
            </a>
        </div>
    </div>
</div>

    {% include '@bolt/finder/_uploader.html.twig' %}

{% endblock aside %}

{% block stylesheets %}
   {{ parent() }}
{% endblock %}
