{% extends 'base.html.twig' %}

{% block title %}
    Finder » <strong>{{ name }}</strong>
{% endblock %}

{% block main %}

    <h2>Path: {{ area }}{% if path %}{{ path }}/{% endif %}</h2>



    <div class="ui form">
        <div class="inline fields">
            <label>Quick select:</label>
            <div class="field">
                <select class="ui search dropdown fileselector">
                    {% for file in allfiles %}
                        <option value="{{ file.getRelativePathname() }}">{{ file.getRelativePathname() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <button class="ui button primary">Go</button>
            </div>
        </div>
    </div>

    <table class="ui celled table">
    <thead>
        <tr>
            <th></th>
            <th>Directoryname</th>
            <th>Actions</th>
        </tr>
    </thead>

    {% if path %}
    <tr>
        <td><i class="fas fa-folder-open"></i></td>
        <td>
            <b>
                <a href="{{ path('bolt_finder', {'area': area, 'path': parent }) }}">
                    ../
                </a>
            </b>
        </td>
        <td>
        </td>
    </tr>
    {% endif %}

    {% for directory in finder.directories() %}
<tr>
    <td><i class="fas fa-folder"></i></td>
    <td>
        <b>
            {% set dirname = path ~ directory.getRelativePathname() %}
            <a href="{{ path('bolt_finder', {'area': area, 'path': dirname }) }}">
                {{ directory.getRelativePathname }}/
            </a>
        </b>
    </td>
    <td>
    </td>
</tr>
        {% endfor %}
</table>


<table class="ui celled table">
    <thead>
    <tr>
        <th></th>
        <th>Filename</th>
        <th>Size</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    </thead>

    {% for file in finder.files() %}
        <tr>
            <td><i class="fas fa-file"></i></td>
            <td>
                <b>
                    {% set filename = path ~ file.getRelativePathname() %}
                    <a href="{{ path('bolt_edit_file', {'area': area, 'file': filename }) }}">
                        {{ file.getRelativePathname }}
                    </a>
                </b>
            </td>
            <td>
                {{ file.getSize() }} bytes
            </td>
            <td>
                {{ file.getCTime()|localizeddate('short', 'short', null, 'UTC') }}
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block aside %}

<div class="ui card">
    <div class="content">
        <div class="header">Meta information</div>
    </div>
    <div class="content">

    </div>
</div>


{% endblock aside %}
