{%- if type != 'checkbox' -%}
    <label for="{{ id }}" class="editor--label{% if type == 'collection' %} sr-only{% endif %}">

        {%- if localize -%}
          <i class="fas fa-language"></i>
        {%- endif -%}

        {% if in_collection is defined %}
            <span style="font-weight: normal;">{{ collection_label }} &raquo;</span>
        {% endif %}

        {{- label -}}:
        {% if required %} <span class="required-label"></span> {% endif %}

        {% if info is not empty %}
            <i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" title="{{ label }}" data-html="true" data-content="{{ info }}"></i>
        {% endif %}
    </label>
{%- endif -%}
