{% extends '@bolt/_partials/fields/_base.html.twig' %}

{% block field %}
    <div class="row" style="margin-right: 0;">
        <div class="col-8">

            <div class="row mb-2">
                <div class="col-3">
                    <label>{{ 'file.label_filename'|trans }}</label>
                </div>
                <div class="col-9">
                    <input class="form-control {{ class }}" name="{{ name }}[filename]" id="{{ id }}-filename"
                           placeholder="filename.jpg" type="text" value="{{ field.get('filename') }}"
                           {{ attributes|default()|raw }}>
                </div>

            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <label>{{ 'file.label_alt'|trans }}</label>
                </div>
                <div class="col-9">
                    <input class="form-control {{ class }}" name="{{ name }}[alt]" placeholder="…" type="text"
                           value="{{ field.get('alt') }}" {{ attributes|default()|raw }}>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <label>{{ 'file.label_title'|trans }}</label>
                </div>
                <div class="col-9">
                    <input  class="form-control {{ class }}" name="{{ name }}[alt]"
                            placeholder="{{ placeholder|default('The title of this image') }}" type="text"
                            value="{{ field.get('title') }}" {{ attributes|default()|raw }}>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12" style="text-align: right;">
                    {% if field.get('filename') %}
                    <a href="{{ field.get('filename')|thumbnail(width=1000, height=1000) }}" class="btn btn-secondary btn-small lightbox" style="color: #FFF;">
                        {{ 'file.button_view'|trans }}
                    </a>
                    {%  endif %}
                    <a class="btn btn-secondary btn-small" href="" onclick="document.querySelector('.filepond--drop-label label').click(); return false;"
                       style="color: #FFF;">{{ 'file.button_upload'|trans }}</a>
                </div>
            </div>

        </div>
        <div class="col-4" id="{{ id }}-uploader" style="padding: 0; min-height: 180px;">
            {# <file-pond name="filepond[]" ref="pond" accepted-file-types="image/jpeg, image/png" server="/async/upload"></file-pond> #}
        </div>

    </div>

    <mark>{{ 'file.remark'|trans|raw }}</mark>

{% endblock %}
