{% extends '@bolt/_partials/fields/_base.html.twig' %}

{# check disabled #}
{% if disabled is not defined %}
    {% set disabled = false %}
{% endif %}

{# check if we only want the value: valueonly #}
{% if valueonly is not defined %}
    {% set valueonly = false %}
{% endif %}

{# check autofocus #}
{% if autofocus is not defined %}
    {% set autofocus = false %}
{% endif %}

{% block field %}
    {% if not valueonly %}
        <editor-text
            :id='{{ id|json_encode }}'
            :value="{{ value|json_encode }}"
            :name='{{ name|json_encode }}'
            :type='{{ class|json_encode }}'
            :disabled='{{ disabled|json_encode }}'
            :required='{{ required|json_encode }}'
            :readonly='{{ readonly|json_encode }}'
            :errormessage='{{ errormessage|json_encode }}'
            :pattern='{{ pattern|json_encode }}'
            :placeholder='{{ placeholder|json_encode }}'
            :autofocus='{{ autofocus|json_encode }}'
        ></editor-text>
    {% else %}
        <span
            :id='{{ id|json_encode }}'
            :name='{{ name|json_encode }}'
            class=""
            {% if required %} required {% endif %}
            {% if readonly %} readonly {% endif %}
        >{{ value|json_encode }}</span>
    {% endif %}
{% endblock %}
