{# Sub-block for 'text' field such as 'text', 'textarea', 'html' or 'markdown' #}
{% block text_field %}
    <div data-bolt-field="{{ field.name }}">
        <{{ tag }}>
        {%- autoescape false -%}
            {{ field.twigValue() }}
        {%- endautoescape -%}
        </{{ tag }}>
    </div>
{% endblock %}

{# Block for "basic" fields like HTML, Markdown, Textarea and Text #}
{% block common_fields %}

    {# HTML, Textarea, Text and Markdown fields #}
    {% if type in ['html', 'textarea', 'text', 'markdown'] %}
        {% set tag = (field.name in ['title', 'name', 'caption', 'subject', 'heading']) ? 'h3' : 'p' %}
        {{ block('text_field') }}
    {% endif %}

    {# Image fields #}
    {% if type == "image" and field.filename is not empty %}
        {{ field|showimage('684') }}
    {% endif %}

    {# File fields #}
    {% if type == "file" and field is not empty %}
        <p>{{ __('general.phrase.download') }}:
            <a href="{{ field }}">{{ field.title|default(field.filename) }}</a>
        </p>
    {% endif %}

    {# Video fields #}
    {% if type == "video" and field.responsive|default is not empty %}
        <div class="flex-video {{ field.ratio|default(1) > 1.5 ? 'widescreen' }}">
            {{ field.responsive }}
        </div>
    {% endif %}

{% endblock %}

{# Block for other field types, like Geo, Select, Checkbox and others. #}
{% block extended_fields %}

    {# Special case for 'select' fields: if it's a multiple select, the field is an array. #}
    {# I dont know what is going on here, but field.selectedIds for pgsql showcase/mr-jean-feeney (and others) #}
    {# yield field values, NOT integer IDs.. Also, selectedIds does not exists (try dump(field) ) #}
    {# TODO: FIX IT, bypassing for now by setting field.id #}	
    {% if type == "select" and field is not empty %}
        <p><strong>{{ field|label }}: </strong></p>
            <ul>
            {% if field.contentSelect %}
                {% setcontent selected = field.contentType where {'id': field.id} %}
                {% for record in selected %}
                <li><a href="{{ record|link }}">{{ record|title }}</a></li>
                {% endfor %}
            {% else %}
                {% for key, value in field.selected %}
                    <li>{{ value }} <small>(key: <code>{{ key }}</code>)</small></li>
                {% endfor %}
            {% endif %}
            </ul>
    {% endif %}

    {# Checkbox fields #}
    {% if type == "checkbox" %}
        <p><strong>{{ field|label }}</strong>: {% if field.twigValue %} checked {% else %} not checked {% endif %}</p>
    {% endif %}

    {# Embed fields #}
    {% if type == "embed" %}
        {{ field.value.responsive_inline|raw }}
    {% endif %}

    {# Number fields #}
    {% if type == "number" %}
        <p><strong>{{ field|label }}</strong>: <code>{{ field }}</code></p>
    {% endif %}

    {# Date / Datetime fields #}
    {% if type == "date" %}
        <p>
            <strong>{{ field|label }}</strong>: {{ field|localedatetime("%A %B %e, %Y") }}
            {%- if field.definition.mode == 'datetime' %}, {{ field|localedatetime("%H:%M:%S") }}{% endif %}
        </p>
    {% endif %}

    {# No special cases defined for other fieldtypes. We just output them if
       they're a simple scalar, and 'dump' them otherwise. #}
    {% if type not in allfields and field is not empty  %}
        {% if field is iterable %}
            {{ dump(field) }}
        {% else %}
            {{ field.twigValue() }}
        {% endif %}
    {% endif %}

{% endblock %}
