{# Sub-block for 'text' field such as 'text', 'textarea', or 'html' #}
{% block text_field %}
    <div data-bolt-field="{{ field.name }}">
        <{{ tag }}>
        {%- autoescape false -%}
            {{ field.twigValue() }}
        {%- endautoescape -%}
        </{{ tag }}>
    </div>
{% endblock %}

{# Sub-block for Markdown fields #}
{% block markdown_field %}
    <div data-bolt-field="{{ field.name }}">
        {{ field.twigValue() }}
    </div>
{% endblock %}

{# Block for "basic" fields like HTML, Markdown, Textarea and Text #}
{% block common_fields %}

    {# HTML, Textarea, Text fields #}
    {% if type in ['html', 'textarea', 'text'] %}
        {% set tag = (field.name in ['title', 'name', 'caption', 'subject', 'heading']) ? 'h3' : 'p' %}
        {{ block('text_field') }}
    {% endif %}

    {# Markdown fields #}
    {% if type == 'markdown' %}
        {{ block('markdown_field') }}
    {% endif %}

    {# Image fields #}
    {% if type == "image" and field is not empty %}
        {{ field|showimage('684') }}
    {% endif %}

    {# File fields #}
    {% if type == "file" and field is not empty %}
        <p>{{ __('general.phrase.download') }}:
            <a href="{{ field }}">{{ field.title|default(field.filename) }}</a>
        </p>
    {% endif %}

    {# Video fields #}
    {% if type == "video" and field.responsive|default is not empty %}
        <div class="flex-video {{ field.ratio|default(1) > 1.5 ? 'widescreen' }}">
            {{ field.responsive }}
        </div>
    {% endif %}

{% endblock %}

{# Block for other field types, like Geo, Select, Checkbox and others. #}
{% block extended_fields %}

    {# Geolocation field #}
    {% if type == "geolocation" and field.latitude|default is not empty %}
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ field.latitude }},{{ field.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;markers={{ field.latitude }},{{ field.longitude }}">
    {% endif %}

    {# Special case for 'select' fields: if it's a multiple select, the field is an array. #}
    {% if type == "select" and field is not empty %}
        <p><strong>{{ field|label }}: </strong></p>
            <ul>
            {% if field.contentSelect %}
                {% setcontent selected = field.contentType where {'id': field.selectedIds} %}
                {% for record in selected %}
                <li><a href="{{ record|link }}">{{ record|title }}</a></li>
                {% endfor %}
            {% else %}
                {% for key, value in field.selected %}
                    <li>{{ value }} <small>(key: <code>{{ key }}</code>)</small></li>
                {% endfor %}
            {% endif %}
            </ul>
    {% endif %}

    {# Checkbox fields #}
    {% if type == "checkbox" %}
        <p><strong>{{ field|label }}</strong>: {{ field ? "checked" : "not checked" }}</p>
    {% endif %}

    {# No special case defined for this type of field. We just output them, if it's
       a simple scalar, and 'dump' them otherwise. #}
    {% if type in ['datetime', 'date', 'integer', 'float' ] and field is not empty  %}
        <p><strong>{{ field|label }}: </strong>
            {% if field is iterable %}
                {{ dump(field) }}
            {% else %}
                {{ field }}
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
