{% macro display_menu_item(item, loop) %}

    {% if item.submenu %}
        {% set class = 'navbar-link' %}
        <div class="navbar-item has-dropdown is-hoverable">
    {% else %}
        {% set class = 'navbar-item' %}
    {% endif %}

    <a href='{{ item.link }}' {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
       class='{{ class }} {% if item|current %}current {% endif %}{% if item.class is defined %}{{item.class}}{% endif %} index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}'>
       {{ item.label|default(item.title) }}
    </a>

    {% if item.submenu %}
        <div class="navbar-dropdown">
            {% for submenu in item.submenu %}
                {{ _self.display_menu_item(submenu, loop) }}
            {% endfor %}
        </div>

        </div>
    {% endif %}

{% endmacro %}

{% for item in menu %}
    {{ _self.display_menu_item(item, loop, 'navbar-link') }}
{% endfor %}
