<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ exception.statusCode }} :: {{ exception.message }}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>

<body id="home">

    <div style="padding: 2rem 4rem;">

        <h1>{{ exception.statusCode }} :: {{ exception.message }} </h1>

        <p>In <code>{{ exception.file|split('/')|slice(-2)|join('/') }}</code></p>

        {# will only be shown if debug is on. #}
        {{ dump(exception) }}

    </div>
</body>
</html>
