<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bolt.css') }}">
    {% endblock %}
</head>

<body>
<div class="wrapper">

    <div id="topbar" data-vue-routing="{{ vueRouting|default() }}">
        <Topbar title="{{ block('title') }}"></Topbar>
    </div>

    <div id="sidebar">
            <Sidebar>side</Sidebar>
    </div>

    <div id="{% block container %}content{% endblock %}">

        <h1>Hoi</h1>

        {% block body %}
        {% endblock %}

    </div>

    <div id="aside">
        {% block aside %}
        {% endblock %}
    </div>

    <div id="footer">
        Bolt {{ version|default('unknown') }}
    </div>

</div>
{% block javascripts %}
    <script src="{{ asset('assets/bolt.js') }}"></script>
{% endblock %}
</body>

</html>
