{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}

    {% for record in records %}

        <article class="post">
            <h2>
                <a href="{{ path('blog_post', {slug: record.slug}) }}">
                    {{ record.title }}
                </a>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ record.publishedAt|localizeddate('medium', 'none', null, 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ record.author.fullName }}</span>
                <span class="metadata"><i class="fa fa-cog"></i> {{ record.contenttype }}</span>
                <span class="metadata"><i class="fa fa-link"></i> {{ record.slug }}</span>
            </p>
            {{ dump(record.definition) }}
            {% for field in record.fields %}
                <small>
                   <b>Field name:</b>
                    {{ field.sortorder }}. {{ field.name }} / {{ field.type }}
                </small>
                <p>{{ field }}</p>
                {#{{ dump(field) }}#}
            {% endfor %}

            {#{{ record.summary }}#}

            {#{{ include('blog/_post_tags.html.twig') }}#}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {% if records.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(records, 'twitter_bootstrap3_translated', {routeName: 'listing', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
