{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block field %}
    {# for timestamps, make sure it's formatted correctly #}
    {% if value.timestamp is defined %}
        {% set value = value|date(format='c') %}
    {% endif %}

    <label>{{ label }}</label>
    <div class="ui input left icon calendar">
        <i class="calendar icon"></i>
        <input type="text" name="{{ name }}" value="{{ value }}" class="{{ class }}" {{ attributes|default()|raw }}>
    </div>
{% endblock %}

