{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block label %}
    <label for="{{ label_attr.for }}" class="{{ label_class }}">{{ label }}</label>
{% endblock %}

{% block field %}
    <input type="email" id="{{ id }}" name="{{ name }}" value="{{ value }}" class="{{ class }}">
{% endblock %}