{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block field %}
    <label>{{ label }}</label>
    <input name="{{ name }}" placeholder="…" type="number" step="1" value="{{ value }}" class="{{ class }}" {{ attributes|default()|raw }}>

    <mark>Note: This field is practically the same as the <code>integer</code>-field.</mark>

{% endblock %}
