{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block field %}
    <label>{{ label }}</label>

    <div class="inline field">
        <label>Filename</label>
        <input name="{{ name }}[filename]" placeholder="First Name" type="text" value="{{ value.get('filename') }}" class="{{ class }}" {{ attributes|default()|raw }}>
    </div>
    <div class="inline field">
        <label>Alt</label>
        <input name="{{ name }}[alt]" placeholder="First Name" type="text" value="{{ value.get('alt') }}" class="{{ class }}" {{ attributes|default()|raw }}>
    </div>
    <hr>
{% endblock %}
