{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block field %}
    <label>{{ label }}</label>
    <textarea name="{{ name }}" class="{{ class }}" id="{{ name }}">{{ value }}</textarea>
{% endblock %}

