{% extends '@bolt/editcontent/fields/_base.twig' %}

{% if options is not defined %}
    {% set options = selectoptionsfromarray(field) %}
{% endif %}

{% if field.definition is defined %}
    {% set multiple = field.definition.get('multiple')  %}
{% else %}
    {% set multiple = false %}
{% endif %}

{% block field %}
    <div class="ui grid">
        <div class="four wide column"><label>{{ label }}</label></div>
        <div class="twelve wide column">
            <select name="{{ name }}[]" class="{{ class }}" id="{{ id }}" {{ multiple ? 'multiple' : '' }} {{ attributes|default()|raw }}>
                {% for option in options %}
                    <option value="{{ option.key }}" {{ option.selected ? 'selected' : '' }}>{{ option.value }}</option>
                {% endfor %}
            </select>
        </div>
</div>
{% endblock %}
