{% extends 'editcontent/fields/_base.twig' %}

{% block field %}
    <label>{{ label }}</label>
    <input name="{{ name }}" placeholder="…" type="text" value="{{ value }}" class="{{ class }}" {{ attributes|default()|raw }}>
{% endblock %}
