<!DOCTYPE html>
<html lang="{{ htmllang() }}"
    {% if block('html_id') %}id="{% block html_id %}{% endblock %}"{% endif %}
    {% if block('html_class') %}class="{% block html_class %}{% endblock %}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title')|striptags|raw }}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('bolt') }}
    {% endblock %}
    {{ include('_partials/favicon.html.twig') }}
</head>

<body{% if block('body_class') %} class="{% block body_class %}{% endblock %}"{% endif %}>

        {% block main %}
        {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bolt') }}
{% endblock %}
</body>

</html>
