<!DOCTYPE html>
<html id="{% block html_id %}{% endblock %}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title')|striptags }}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro:300,400,600&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% set theme = 'theme-' ~ user.backendTheme|default('default') %}
    {{ encore_entry_link_tags('bolt') }}
    {{ encore_entry_link_tags(theme) }}
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    {% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}">

<div class="admin has-{{ block('container') }}">

    <!-- Admin Toolbar -->
    <nav id="toolbar" class="admin__toolbar">
        {% set user_display_name = user.displayName|default('Unknown user') %}

        {# Setting the labels and their localisations that are used in the sidebar-menu. #}
        {% set labels = {
            'about.bolt_documentation': 'about.bolt_documentation'|trans,
            'action.visit_site': 'action.visit_site'|trans,
            'action.create_new': 'action.create_new'|trans,
            'general.greeting': 'general.greeting'|trans({'%name%': user_display_name}),
            'action.logout': 'action.logout'|trans,
            'action.edit_profile': 'action.edit_profile'|trans
        }|json_encode %}

        <admin-toolbar
            site-name="{% if config is defined %}{{ config.get('general/sitename') }}{% endif %}"
            :menu="{{ sidebar_menu() }}"
            user="{{ user|default }}"
            :labels="{{ labels }}"
            :backend_prefix="{{ path('bolt_dashboard') }}"
        ></admin-toolbar>
    </nav>
    <!-- End Admin Toolbar -->

    <!-- Admin Header -->
    <header class="admin__header">
        <div class="container">
            <nav class="admin__header--topbar">
              <h1 class="admin__header--title">{{ block('title') }}</h1>
            </nav>
        </div>
    </header>
    <!-- End Admin Header -->

    <!-- Admin Sidebar -->
    <div class="admin__sidebar">
        <div id="sidebar">
            <admin-sidebar
              :menu="{{ sidebar_menu() }}"
              :version="'{{ version|default('unknown')|replace({'alpha': 'α', 'beta': 'β'}) }}'"
              :about-link="{{ path('bolt_about')|json_encode }}"
            ></admin-sidebar >
        </div>
    </div>
    <!-- End Admin Sidebar -->

    <!-- Admin Main -->
    <div class="admin__body {% block container %}{% endblock %}">
        <div class="container">

            {% block topsection %}
                {# insert stuff here that should _not_ be part of the
                   Vue components, like `{{ dump() }}` statements #}
            {% endblock %}

            <div class="admin__body--container" id="{% block vue_id %}{% endblock %}">
                <main class="admin__body--main">
                    {% block main %}
                    {% endblock %}
                </main>
                <aside class="admin__body--aside">
                    {% block aside %}

                    {% endblock %}
                </aside>
                <div class="admin__notifications">
                    {{ include('@bolt/_partials/_flash_messages.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Admin Main -->

</div>

{% block javascripts %}
    <script>
        var admin = document.querySelector('.admin');
        var slim = JSON.parse(localStorage.getItem('slim-sidebar'));
        if (slim){
          admin.classList.add('is-slim');
        }
    </script>
    {{ encore_entry_script_tags('bolt') }}
{% endblock %}


</body>

</html>
