<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title')|striptags }}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro:300,400,600&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bolt.css') }}">
    {% set backendTheme = 'assets/theme-' ~ user.backendTheme|default('default') ~ '.css' %}
    <link id="theme" rel="stylesheet" type="text/css" href="{{ asset(backendTheme) }}">
    {% endblock %}
</head>

<body>

<div class="admin has-{{ block('container') }}">

    <!-- Admin Toolbar -->
    <nav id="toolbar" class="admin__toolbar">
        {%  set labels = jsonlabels(['about.bolt_documentation', 'action.visit_site', 'action.create_new', ['general.greeting', {'%name%': user.fullName}] ]) %}
        <admin-toolbar
            :menu="{{ sidebarmenu() }}"
            user="{{user|default()}}"
            site-name="{% if config is defined %}{{ config.get('general/sitename') }}{% endif %}"
            labels='{{ labels }}'
        ></admin-toolbar>
    </nav>
    <!-- End Admin Toolbar -->

    <!-- Admin Header -->
    <header id="header" class="admin__header">
        <div class="container">
          <admin-header title="{{ block('title') }}"></admin-header>
        </div>
    </header>
    <!-- End Admin Header -->

    <!-- Admin Sidebar -->
    <div class="admin__sidebar">
        <div id="sidebar">
            <admin-sidebar
                :brand-full="'{{ asset('assets/images/brand-long.svg') }}'"
                :brand-icon="'{{ asset('assets/images/brand-icon.svg') }}'"
                :menu="{{ sidebarmenu() }}"
                :version="'{{ version|default('unknown')|replace({'alpha': 'α', 'beta': 'β'}) }}'"
                :about-link="{{ path('bolt_about')|json_encode }}"
            ></admin-sidebar >
        </div>
    </div>
    <!-- End Admin Sidebar -->

    <!-- Admin Main -->
    <div class="admin__body" id="{% block container %}content{% endblock %}">
        <div class="container">
            <div class="admin__body--container">

                <div class="admin__body--flashes">
                {{ include('_partials/_flash_messages.twig') }}
                </div>

                <main class="admin__body--main">
                    {% block main %}
                    {% endblock %}
                </main>
                <aside class="admin__body--aside">
                    {% block aside %}

                    {% endblock %}
                </aside>
            </div>
        </div>
    </div>
    <!-- End Admin Main -->

</div>

{% block javascripts %}
    <script>
        var admin = document.querySelector('.admin');
        var size = localStorage.getItem('admin-sidebar-size');

        if (size !== null && size === 'slim'){
            admin.classList.add('is-slim');
        }

    </script>
    <script src="{{ asset('assets/manifest.js') }}"></script>
    <script src="{{ asset('assets/vendor.js') }}"></script>
    <script src="{{ asset('assets/bolt.js') }}"></script>
{% endblock %}

</body>

</html>
