<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title')|striptags }}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.14.0/simplelightbox.min.css" integrity="sha256-SKS4FkcNkeoVSuM7plVb7urk85SbYbpu13eMQa0XgcA=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bolt.css') }}">
    {% endblock %}
</head>

<body>
<div class="wrapper has-{{ block('container') }}">

    <header data-vue-routing="{{ vueRouting|default() }}">
        <Topbar title="{{ block('title') }}"></Topbar>
    </header>

    <div id="sidebar">
            <Sidebar sidebarmenudata="{{ sidebarmenu() }}">side</Sidebar>
    </div>

    <div id="{% block container %}content{% endblock %}">

        {{ include('_partials/_flash_messages.twig') }}

        {% block main %}
        {% endblock %}

    </div>

    <aside>
        {% block aside %}
        {% endblock %}
    </aside>

    <footer>
        Bolt {{ version|default('unknown') }}
    </footer>

</div>
{% block javascripts %}
    <script src="{{ asset('assets/bolt.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.14.0/simple-lightbox.min.js" integrity="sha256-QKuCZaHT3kehJCIS5bXUrC6ciUWfswFF7ylYYPWQ/9w=" crossorigin="anonymous"></script>
{% endblock %}
</body>

</html>
