{# Check if aside has value and set hasAside variable #}
{% set hasAside = block('aside')|trim is not empty ? true : false %}
<!DOCTYPE html>
<html lang="{{ app.user.locale|default() }}" {% if block('html_id') %}id="{% block html_id %}{% endblock %}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title')|striptags|raw }}</title>
    {% block stylesheets %}
    {% set theme = 'theme-' ~ app.user.backendTheme|default('default') %}
    {{ encore_entry_link_tags('bolt') }}
    {{ encore_entry_link_tags(theme) }}
    {% endblock %}
    {{ include('_partials/favicon.html.twig') }}
</head>

<body>
<div class="admin">
    {% set admin_menu_json = admin_menu_array()|json_encode %}

    <!-- Admin Toolbar -->
    <nav class="admin__toolbar" id="toolbar">
        {% set user_display_name = app.user.displayName|default('Unknown user') %}

        {% if app.user.avatar is defined %}
            {% set user_avatar = app.user.avatar|thumbnail(25, 25, 'crop')|default(null) %}
        {% endif %}

        {% if app.user.avatar is not defined or user_avatar ends with 'placeholder.png' %}
            {% set user_avatar = null %}
        {% endif %}

        {# Setting the labels and their localisations that are used in the sidebar-menu. #}
        {% set labels = {
            'about.bolt_documentation': 'about.bolt_documentation'|trans,
            'action.view_site': config.get('general/sitename'),
            'general.greeting': 'general.greeting'|trans({'%name%': user_display_name}),
            'action.logout': 'action.logout'|trans,
            'action.stop_impersonating': 'action.stop_impersonating'|trans,
            'action.edit_profile': 'action.edit_profile'|trans,
            'about.visit_bolt': 'about.visit_bolt'|trans,
            'listing.button_search': 'general.phrase.search'|trans,
            'listing.placeholder_search': 'listing.placeholder_search'|trans,
            'general.label.search': 'general.label.search'|trans,
        }|json_encode %}

        {% set url_paths = {
            'bolt_dashboard': path('bolt_dashboard'),
            'bolt_logout': path('bolt_logout'),
            'bolt_profile_edit': path('bolt_profile_edit'),
        }|json_encode %}

        <admin-toolbar
            site-name="{{ config.get('general/sitename') }}"
            :menu="{{ admin_menu_json }}"
            :labels="{{ labels }}"
            :url-paths="{{ url_paths }}"
            backend-prefix="{{ path('bolt_dashboard') }}"
            :avatar="{{ user_avatar|json_encode }}"
            :is-impersonator="{{ is_granted('IS_IMPERSONATOR')|json_encode }}"
            filter-value="{{ filter_value|default('') }}"
        ></admin-toolbar>
    </nav>
    <!-- End Admin Toolbar -->

    <!-- Admin Header -->
    <header class="admin__header">
        <div class="admin__header--topbar">

            <h1 class="admin__header--title">
                {% if block('shoulder') %}
                <span class="admin__header--title__prefix">
                    {% block shoulder %}{% endblock shoulder %} »
                </span>
                {% endif %}
                {{ block('title') }}
            </h1>

            <button class="admin-sidebar-toggler btn btn-md">
                <span class="admin-sidebar-toggler_icon"></span>{{ 'admin_sidebar_toggler.toggle'|trans|raw }}
            </button>

        </div>
    </header>
    <!-- End Admin Header -->

    <!-- Admin Sidebar -->
    {% set labels = {
        'toggler': 'admin_sidebar.toggler'|trans,
        'action.new': 'action.new'|trans,
        'action.view': 'action.view'|trans,
    }|json_encode %}
    <div class="admin__sidebar d-none d-lg-block">
        <div class="sidebar sidebar--sticky" id="bolt--sidebar">
            <admin-sidebar
              :menu="{{ admin_menu_json }}"
              :version="'{{ constant('Bolt\\Version::VERSION')|replace({'alpha': 'α', 'beta': 'β'}) }}'"
              :about-link="{{ path('bolt_about')|json_encode }}"
              :labels="{{ labels }}"
            ></admin-sidebar >
        </div>
    </div>
    <!-- End Admin Sidebar -->

    <!-- Admin Main -->
    <div class="admin__body">

        {% block topsection %}
            {# insert stuff here that should _not_ be part of the
                Vue components, like `{{ dump() }}` statements #}
        {% endblock %}

        <div class="admin__body--container{% if hasAside %} admin__body--container--has-sidebar{% endif%}"
             id="{% block vue_id %}{% endblock %}">
            <main class="admin__body--main">
                {% block main %}
                {% endblock %}
            </main>

            {% if hasAside %}
            <aside class="admin__body--aside">
                {% block aside %}
                {% endblock %}
            </aside>
            {% endif %}
        </div>

        <div class="admin__notifications">
            {{ include('@bolt/_partials/_flash_messages.html.twig') }}
        </div>
    </div>
    <!-- End Admin Main -->

    <div class="modal fade" id="resourcesModal" tabindex="-1" aria-labelledby="resourcesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resourcesModalLabel">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">{{ __("modal.text.loading") }}</span>
                        </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">{{ __("modal.text.loading") }}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-modal-button-deny="{{ __("modal.button_deny") }}" id="modalButtonDeny" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __("modal.button_deny") }}</button>
                    <button data-modal-button-accept="{{ __("modal.button_save") }}" id="modalButtonAccept" type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ __("modal.button_save") }}</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% block javascripts %}
    <script>
        var admin = document.querySelector('.admin');
        var slim = JSON.parse(localStorage.getItem('slim-sidebar'));
        if (slim){
          admin.classList.add('is-slim');
        }
    </script>
    {{ encore_entry_script_tags('bolt') }}
{% endblock %}

</body>

</html>
