{% extends '_base/layout.twig' %}

{% block title "Change Password » <strong>Pompidom</strong>" %}

{% block body_id 'user_password' %}

{% block main %}

    {% form_theme form 'form/semantic-ui-theme.twig' %}

    <div class="ui warning message">
        <p>{{ 'info.change_password'|trans }}</p>
    </div>

 {{ form_start(form) }}
 {{ form_widget(form) }}
 <button type="submit" class="ui button primary">
     <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
 </button>
 {{ form_end(form) }}
{% endblock %}

{% block aside %}
 <div class="section">
     <a href="{{ path('bolt_profile_edit') }}" class="ui button negative">
         <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_user'|trans }}
     </a>
 </div>
 {{ parent() }}
{% endblock %}