{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{# The 'title' and 'shoulder' blocks are the main heading of the page. #}
{% block shoulder %}
    {{ 'title.edit_user_profile'|trans }}
{% endblock shoulder %}

{% block title %}
    {{ macro.icon('user') }}
    {{ display_name|default(__('user.unknown_user')) }}
{% endblock %}

{% block vue_id 'editor' %}

{% block main %}

    <div>
        <form method="post" id="edituser" >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('profileedit') }}">

            {% include '@bolt/_partials/fields/text.html.twig' with {
                'id' : 'username',
                'label' : 'label.username'|trans,
                'name' : 'username',
                'value' : user.username,
                'disabled' : true,
                'required': true,
            } %}

            {% include '@bolt/_partials/fields/text.html.twig' with {
                'id' : 'display_name',
                'label' : 'label.display_name'|trans,
                'name' : 'displayName',
                'value' : user.displayName,
                'disabled' : false,
                'required': true,
            } %}

            {% include '@bolt/_partials/fields/password.html.twig' with {
                'id' : 'password',
                'label': 'label.password'|trans,
                'label_class': 'required',
                'name': 'password',
                'strength': true,
                'value': '',
            } %}

            {% include '@bolt/_partials/fields/email.html.twig' with {
                'id' : 'email',
                'label': 'label.email'|trans,
                'label_class': 'required',
                'value': user.email,
                'name': 'email',
                'class': 'form-control',
                'required': true,
            } %}

            {% set localeOptions = [] %}

            {% for locale in locales(all = true) %}
                {% set localeOptions = localeOptions|merge([
                    {
                        'key': locale.code,
                        'value': locale.emoji ~ ' ' ~ locale.name ~ ' (' ~ locale.localizedname ~ ', ' ~ locale.code ~ ')'
                    }
                ]) %}
            {% endfor %}

            {% include '@bolt/_partials/fields/select.html.twig' with {
                'id' : 'locale',
                'label' : 'label.locale'|trans,
                'name' : 'locale',
                'value' : user.locale,
                'options' : localeOptions,
                'required': true,
                'form': 'edituser',
            } %}

            {# TODO: include form field with '@bolt/_partials/fields/select.html.twig' #}
            {# Comment out for a while, until we work on this again
            <div class="form-group">
                <label for="backendTheme" class="required">Backend theme</label>
                <select id="backendTheme" name="backendTheme" class="form-control">
                    <option value="default" selected="selected">The Default theme</option>
                    <option value="dark">The Default Dark theme</option>
                    <option value="light">A pretty Light theme</option>
                    <option value="woordpers">WoordPers: Kinda looks like that other CMS</option>
                </select>
            </div>
            <theme-select></theme-select>
            #}

            {{ macro.button('action.save', 'fa-save', 'primary', {'type': 'submit', 'form': 'edituser', 'name': 'save'}) }}


        </form>
    </div>
{% endblock %}

{% block aside %}
    <div id="metadata" class="d-none d-xl-block">
        <form class="ui form">
            <div class="card mb-3">
                <div class="card-body">
                    {{ macro.button('action.save', 'fa-save', 'primary', {'type': 'submit', 'form': 'edituser'}) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('zxcvbn') }}
    {{ parent() }}
{% endblock %}
