{% extends '@bolt/_base/layout.html.twig' %}

{% block container "widecontent" %}

{% block title %}
    Edit Translations
{% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><span class="navbar-text">Configs:</span></li>
            {% for c in configNames %}
                <li class="nav-item{% if configName == c %} active{% endif %}">
                    <a class="nav-link" href="{{ path('translation_index', {configName: c}) }}">
                        {{ c }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
{% endblock %}
