{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{% block title %}
    {{ macro.icon('language') }} Edit Translations
{% endblock %}

{% block main %}

{% if not app.request.get('configName') %}
    <p>These are the translations used in Bolt. We rely on the community to expand on new
        translations, and keep them up to date. If you wish to participate, read the
        <a href="https://github.com/bolt/core/wiki/Contribute-on-translations">instructions here</a>.
    </p>
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><span class="navbar-text">Configs:</span></li>
            {% for c in configNames %}
                <li class="nav-item{% if configName == c %} active{% endif %}">
                    <a class="nav-link" href="{{ path('translation_index', {configName: c}) }}">
                        {{ c }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

{% block _translation_bundle_body %}{% endblock %}

{% endblock %}

{% block _translation_bundle_js %}
    <script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if currentLocale is defined %}
        <script type="text/javascript">
            var editUrl = "{{ path('translation_edit', {configName: configName, locale:currentLocale,domain:currentDomain}) }}";
        </script>
    {% endif %}
    <script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
{% endblock %}
