<!-- Sidebar -->
<aside>

    <hr>

    {{ widgets('aside_top') }}

    {# This part is only shown if there are no widgets in the 'aside_top' widgets slot. #}
    <div>
        {# The next section attempts to fill the panel in the sidebar with the contents of the
            'about'-block, if it exists. First, attempt to fetch the block by its slug #}
        {% setcontent block = "block/about" %}

        {# check if we have a title. If so, we know we have content to display. Otherwise, we will
            output a default text, telling the user to create the 'blocks' in the backend. #}
        {% if block %}

            <h5>{{ block.title }}</h5>
            <p>{{ block.content|default(block|excerpt) }}</p>

            {% set edit_link = block|edit_link %}
            {% set content_link = block.content_link|default(block|link) %}
            {% if content_link or edit_link %}
                <p>
                {%- if content_link %}
                   <a href="{{ absolute_link(content_link|e) }}">{{ __('general.phrase.read-more') }}</a>
                {% endif -%}
                {%- if edit_link %}
                    / <a href="{{ edit_link }}">{{ __('general.phrase.edit') }}</a>
                {% endif -%}
                </p>
            {% endif %}

        {% else %}

            <h5>{{ __('general.phrase.missing-about-page') }}</h5>

            <p>{{ __('general.phrase.missing-about-page-block') }}</p>

        {% endif %}

    </div>

    {# The next section iterates over all of the ContentTypes, and prints a
        list of the three latest records of each of them. The 'magic' happens in
        the setcontent tag: `ct.slug latest limit 3` fetches 3 records from the
        given ContentType, ordered by their descending id.
        The `else` in the inner for-loop is only used if there are no 'records',
        so we can use it to print a helpful message.
        Lastly, `path('listing', {'contentTypeSlug': ct.slug})` will output
        something like '/pages', effectively creating a working link to that
        ContentTypes's listing page. #}

    {% for ct in config.get('contenttypes')|filter(ct => not ct.viewless and not ct.singleton) %}

        {% setcontent records = ct.slug latest limit 3 %}

        <h5>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.name}) }}</h5>
        {% if records|length %}
            <ul>
                {% for record in records %}
                    <li><a href="{{ record|link }}">{{ record|title }}</a></li>
                {% endfor %}
            </ul>
            <p><a href="{{ path('listing', {'contentTypeSlug': ct.slug}) }}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.name}) }} &raquo;</a></p>
        {% else %}
            <p>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</p>
        {% endif %}

    {% endfor %}

    {{ widgets('aside_bottom') }}

</aside>
<!-- End Sidebar -->
