<!-- Footer -->
<footer>
    <hr>

    <h4>{{ __('Menu') }}</h4>
    {{ menu(template = 'partials/_sub_menu.twig') }}

    <hr>

    <h4>{{ __('general.phrase.search') }}</h4>

    <form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain">
        <input type="search" value="{{ searchTerm|default() }}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="searchTerm" >
        <button type="submit">{{ __('action.search') }}</button>
    </form>

    <hr>

    <h4>{{ __('general.phrase.select_language') }}</h4>

    {% include 'helpers/_languageselect.html.twig' with {'type': 'select'} %}

    <hr>

    <p>
        {{ __('general.phrase.built-with-bolt') }}
    </p>

    {{ widgets('footer') }}

</footer>
