<!-- Footer -->
<footer>
    <hr>

    <h4>{{ __('Menu') }}</h4>
    {{ menu(template = 'partials/_sub_menu.twig') }}

    <hr>

    <h4>{{ __('Search') }}</h4>

    <form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain">
        <input type="search" value="{{ search|default() }}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" >
        <button type="submit">{{ __('general.phrase.search') }}</button>
    </form>

    <hr>

    <p>
        {{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
    </p>

    {{ widgets('footer') }}

</footer>
