{% for type, taxonomies in record|taxonomies %}
    <em>
        {% if taxonomies|length == 1 %}
            {{ config.get('taxonomies')[type].singular_name }}:
        {% elseif taxonomies|length > 1 %}
            {{ config.get('taxonomies')[type].name }}:
        {% endif %}
    </em>
    {% for taxonomy in taxonomies %}
        <a href="{{ taxonomy|link }}" class="taxonomy-{{ type }}">{{ taxonomy.name }}</a>{% if not loop.last %}, {% endif %}
    {% else %}
        {{ __('general.phrase.none') }}
    {% endfor %}
    {% if not loop.last %} - {% endif %}
{% endfor %}
